<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alien_child_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,162},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>alien_child_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>alien_child_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,257},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>alien_child_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,132},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>alien_child_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,304},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>alien_child_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,240},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>alien_child_chest_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,202},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>alien_child_chest_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,164},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>alien_child_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{90,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,111}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
            <key>alien_child_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,155},{90,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,111}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
            <key>alien_child_effect_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,274},{28,39}}</string>
                <key>offset</key>
                <string>{58,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,39},{28,39}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,410},{58,69}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{58,69}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{88,117}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{88,117}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,73},{126,57}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{126,57}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{144,69}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{138,75}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{138,75}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,169},{108,81}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,18},{108,81}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_left_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{34,87}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,15},{34,87}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,194},{28,39}}</string>
                <key>offset</key>
                <string>{-58,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{28,39}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,410},{58,69}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{58,69}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,79},{88,117}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,117}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{126,57}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{126,57}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{144,69}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{138,75}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{138,75}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_right_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,132},{108,81}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{108,81}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_effect_right_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,73},{34,87}}</string>
                <key>offset</key>
                <string>{-55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{34,87}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>alien_child_foot_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,117},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>alien_child_foot_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,79},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>alien_child_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,345},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>alien_child_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,310},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>alien_child_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,252},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>alien_child_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,387},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>alien_child_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>alien_child_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,280},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>alien_child_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,224},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>alien_child_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,215},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alien_child.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf7c79b1147cba4cf597295de07d33a9:1/1$</string>
            <key>textureFileName</key>
            <string>alien_child.pvr.ccz</string>
        </dict>
    </dict>
</plist>
