<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bad_girl_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,336},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>bad_girl_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,380},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>bad_girl_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,357},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>bad_girl_arms_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,386},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>bad_girl_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,108},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>bad_girl_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,349},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>bad_girl_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>bad_girl_arms_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,357},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>bad_girl_chest_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,425},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>bad_girl_chest_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,469},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>bad_girl_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{132,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,128}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>bad_girl_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,128}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>bad_girl_effect_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,40},{36,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,87}}</string>
                <key>sourceSize</key>
                <string>{36,87}</string>
            </dict>
            <key>bad_girl_effect_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,78},{27,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,75}}</string>
                <key>sourceSize</key>
                <string>{27,75}</string>
            </dict>
            <key>bad_girl_effect_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{36,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,87}}</string>
                <key>sourceSize</key>
                <string>{36,87}</string>
            </dict>
            <key>bad_girl_effect_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{27,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,75}}</string>
                <key>sourceSize</key>
                <string>{27,75}</string>
            </dict>
            <key>bad_girl_hair_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,332},{15,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,57}}</string>
                <key>sourceSize</key>
                <string>{15,57}</string>
            </dict>
            <key>bad_girl_hair_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,312},{18,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,57}}</string>
                <key>sourceSize</key>
                <string>{18,57}</string>
            </dict>
            <key>bad_girl_hair_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,251},{21,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,51}}</string>
                <key>sourceSize</key>
                <string>{21,51}</string>
            </dict>
            <key>bad_girl_hair_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,425},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>bad_girl_hair_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,393},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>bad_girl_hair_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{48,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>bad_girl_hair_left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,228},{21,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,51}}</string>
                <key>sourceSize</key>
                <string>{21,51}</string>
            </dict>
            <key>bad_girl_hair_left_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,199},{27,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,51}}</string>
                <key>sourceSize</key>
                <string>{27,51}</string>
            </dict>
            <key>bad_girl_hair_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{15,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,57}}</string>
                <key>sourceSize</key>
                <string>{15,57}</string>
            </dict>
            <key>bad_girl_hair_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{18,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,57}}</string>
                <key>sourceSize</key>
                <string>{18,57}</string>
            </dict>
            <key>bad_girl_hair_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,228},{21,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,51}}</string>
                <key>sourceSize</key>
                <string>{21,51}</string>
            </dict>
            <key>bad_girl_hair_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,393},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>bad_girl_hair_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,425},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>bad_girl_hair_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{48,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>bad_girl_hair_right_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,251},{21,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,51}}</string>
                <key>sourceSize</key>
                <string>{21,51}</string>
            </dict>
            <key>bad_girl_hair_right_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,170},{27,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,51}}</string>
                <key>sourceSize</key>
                <string>{27,51}</string>
            </dict>
            <key>bad_girl_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,307},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bad_girl_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,262},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bad_girl_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bad_girl_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,274},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bad_girl_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,257},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bad_girl_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,207},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bad_girl_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,157},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bad_girl_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,107},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bad_girl_leg_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,136},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>bad_girl_leg_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,136},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>bad_girl_leg_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,107},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>bad_girl_leg_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,107},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>bad_girl_lower_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{39,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{39,27}</string>
            </dict>
            <key>bad_girl_lower_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,79},{39,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{39,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bad_girl.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdcf69105f69c67fece4c68d2892d1a2:1/1$</string>
            <key>textureFileName</key>
            <string>bad_girl.pvr.ccz</string>
        </dict>
    </dict>
</plist>
