<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bogle_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>bogle_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,122},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>bogle_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,122},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>bogle_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>bogle_bat_effect_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>bogle_bat_effect_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,34},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>bogle_bat_effect_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,117},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bogle_bat_effect_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,58},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>bogle_bat_effect_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>bogle_bat_effect_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,94},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bogle_bat_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>bogle_bat_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>bogle_bat_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,80},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>bogle_bat_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,66},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>bogle_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,96},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bogle_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bogle_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>bogle_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>bogle_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,90},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>bogle_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,90},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>bogle_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,46},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>bogle_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,46},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>bogle_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,58},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>bogle_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>bogle_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>bogle_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bogle.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf6cd68528406cd3e96f1f8104ad971c:1/1$</string>
            <key>textureFileName</key>
            <string>bogle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
