<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quetzalcohuatl_body_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{57,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,102}}</string>
                <key>sourceSize</key>
                <string>{57,102}</string>
            </dict>
            <key>quetzalcohuatl_body_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,91},{109,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,87}}</string>
                <key>sourceSize</key>
                <string>{109,87}</string>
            </dict>
            <key>quetzalcohuatl_body_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{57,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,102}}</string>
                <key>sourceSize</key>
                <string>{57,102}</string>
            </dict>
            <key>quetzalcohuatl_body_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{109,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,87}}</string>
                <key>sourceSize</key>
                <string>{109,87}</string>
            </dict>
            <key>quetzalcohuatl_chin_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,304},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>quetzalcohuatl_chin_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,257},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>quetzalcohuatl_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,154}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>quetzalcohuatl_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,154}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>quetzalcohuatl_frame_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,280},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>quetzalcohuatl_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,274},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>quetzalcohuatl_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,241},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>quetzalcohuatl_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,219},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>quetzalcohuatl_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,180},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>quetzalcohuatl_frame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,158},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>quetzalcohuatl_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,434},{75,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,66}}</string>
                <key>sourceSize</key>
                <string>{75,66}</string>
            </dict>
            <key>quetzalcohuatl_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,357},{75,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,66}}</string>
                <key>sourceSize</key>
                <string>{75,66}</string>
            </dict>
            <key>quetzalcohuatl_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,349},{75,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,87}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>quetzalcohuatl_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,180},{75,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,87}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>quetzalcohuatl_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,434},{75,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,66}}</string>
                <key>sourceSize</key>
                <string>{75,66}</string>
            </dict>
            <key>quetzalcohuatl_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,357},{75,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,66}}</string>
                <key>sourceSize</key>
                <string>{75,66}</string>
            </dict>
            <key>quetzalcohuatl_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,260},{75,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,87}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>quetzalcohuatl_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{75,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,87}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>quetzalcohuatl_neck_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,216},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>quetzalcohuatl_neck_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,423},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>quetzalcohuatl_neck_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,158},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>quetzalcohuatl_neck_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,357},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>quetzalcohuatl_tail_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,346},{33,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>quetzalcohuatl_tail_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,468},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>quetzalcohuatl_tail_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,390},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>quetzalcohuatl_tail_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,302},{33,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>quetzalcohuatl_tail_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>quetzalcohuatl_tail_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,302},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>quetzalcohuatl_wings_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,438},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>quetzalcohuatl_wings_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,174},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>quetzalcohuatl_wings_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,88},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>quetzalcohuatl_wings_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_quetzalcohuatl.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2976d37ef0f429d919ef11c63be5f12:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_quetzalcohuatl.pvr.ccz</string>
        </dict>
    </dict>
</plist>
