<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pan_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,466},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>pan_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{66,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,99}}</string>
                <key>sourceSize</key>
                <string>{66,99}</string>
            </dict>
            <key>pan_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>pan_arms_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,283},{69,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{69,80}</string>
            </dict>
            <key>pan_arms_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,419},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>pan_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,446},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>pan_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,257},{66,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,99}}</string>
                <key>sourceSize</key>
                <string>{66,99}</string>
            </dict>
            <key>pan_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,404},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>pan_arms_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,212},{69,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{69,80}</string>
            </dict>
            <key>pan_arms_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,366},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>pan_blade_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,249},{113,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,132}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>pan_blade_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,354},{89,48}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,73},{89,48}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>pan_blade_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,519},{41,48}}</string>
                <key>offset</key>
                <string>{36,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,73},{41,48}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>pan_blade_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,115},{113,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,132}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>pan_blade_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,354},{89,48}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,73},{89,48}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>pan_blade_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,616},{41,48}}</string>
                <key>offset</key>
                <string>{-29,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,73},{41,48}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>pan_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,357},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>pan_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,295},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>pan_chin_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,499},{48,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,39}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>pan_chin_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{48,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,39}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>pan_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,221},{207,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,168}}</string>
                <key>sourceSize</key>
                <string>{207,168}</string>
            </dict>
            <key>pan_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>pan_effect_bomb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,404},{80,51}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,89},{80,51}}</string>
                <key>sourceSize</key>
                <string>{320,159}</string>
            </dict>
            <key>pan_effect_bomb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,115},{172,49}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,94},{172,49}}</string>
                <key>sourceSize</key>
                <string>{320,159}</string>
            </dict>
            <key>pan_effect_bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,81},{222,75}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,71},{222,75}}</string>
                <key>sourceSize</key>
                <string>{320,159}</string>
            </dict>
            <key>pan_effect_bomb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{252,77}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,70},{252,77}}</string>
                <key>sourceSize</key>
                <string>{320,159}</string>
            </dict>
            <key>pan_effect_bomb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{296,101}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,46},{296,101}}</string>
                <key>sourceSize</key>
                <string>{320,159}</string>
            </dict>
            <key>pan_effect_bomb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{296,111}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{296,111}}</string>
                <key>sourceSize</key>
                <string>{320,159}</string>
            </dict>
            <key>pan_effect_bomb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,105}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,40},{302,105}}</string>
                <key>sourceSize</key>
                <string>{320,159}</string>
            </dict>
            <key>pan_effect_bomb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,172},{170,47}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,95},{170,47}}</string>
                <key>sourceSize</key>
                <string>{320,159}</string>
            </dict>
            <key>pan_effect_bomb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,81},{174,21}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,119},{174,21}}</string>
                <key>sourceSize</key>
                <string>{320,159}</string>
            </dict>
            <key>pan_effect_bomb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,166},{168,17}}</string>
                <key>offset</key>
                <string>{4,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,126},{168,17}}</string>
                <key>sourceSize</key>
                <string>{320,159}</string>
            </dict>
            <key>pan_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,383},{105,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,69}}</string>
                <key>sourceSize</key>
                <string>{105,69}</string>
            </dict>
            <key>pan_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,295},{105,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,69}}</string>
                <key>sourceSize</key>
                <string>{105,69}</string>
            </dict>
            <key>pan_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,283},{105,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,69}}</string>
                <key>sourceSize</key>
                <string>{105,69}</string>
            </dict>
            <key>pan_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{105,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,69}}</string>
                <key>sourceSize</key>
                <string>{105,69}</string>
            </dict>
            <key>pan_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,212},{105,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,69}}</string>
                <key>sourceSize</key>
                <string>{105,69}</string>
            </dict>
            <key>pan_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{105,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,69}}</string>
                <key>sourceSize</key>
                <string>{105,69}</string>
            </dict>
            <key>pan_lower_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>pan_lower_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,457},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>pan_mantle_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,459},{132,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,111}}</string>
                <key>sourceSize</key>
                <string>{132,111}</string>
            </dict>
            <key>pan_mantle_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,542},{138,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,110}}</string>
                <key>sourceSize</key>
                <string>{138,110}</string>
            </dict>
            <key>pan_mantle_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,371},{147,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,101}}</string>
                <key>sourceSize</key>
                <string>{147,101}</string>
            </dict>
            <key>pan_mantle_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,158},{159,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,108}}</string>
                <key>sourceSize</key>
                <string>{159,108}</string>
            </dict>
            <key>pan_mantle_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,325},{132,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,111}}</string>
                <key>sourceSize</key>
                <string>{132,111}</string>
            </dict>
            <key>pan_mantle_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,430},{138,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,110}}</string>
                <key>sourceSize</key>
                <string>{138,110}</string>
            </dict>
            <key>pan_mantle_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,268},{147,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,101}}</string>
                <key>sourceSize</key>
                <string>{147,101}</string>
            </dict>
            <key>pan_mantle_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,185},{159,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,108}}</string>
                <key>sourceSize</key>
                <string>{159,108}</string>
            </dict>
            <key>pan_weapon_sword_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,454},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>pan_weapon_sword_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,474},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>pan_weapon_sword_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,523},{42,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,91}}</string>
                <key>sourceSize</key>
                <string>{42,91}</string>
            </dict>
            <key>pan_weapon_sword_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,158},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>pan_weapon_sword_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,474},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>pan_weapon_sword_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,430},{42,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,91}}</string>
                <key>sourceSize</key>
                <string>{42,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_pan.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:744c2b6a610e1a3c798ce1541a0dd00e:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_pan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
