<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adrammelech_arms_attack_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>adrammelech_arms_attack_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,85},{81,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,45}}</string>
                <key>sourceSize</key>
                <string>{81,45}</string>
            </dict>
            <key>adrammelech_arms_attack_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,421},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>adrammelech_arms_attack_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,448},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>adrammelech_arms_attack_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,88},{84,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,54}}</string>
                <key>sourceSize</key>
                <string>{84,54}</string>
            </dict>
            <key>adrammelech_arms_attack_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,168},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>adrammelech_arms_attack_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{81,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,45}}</string>
                <key>sourceSize</key>
                <string>{81,45}</string>
            </dict>
            <key>adrammelech_arms_attack_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,374},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>adrammelech_arms_attack_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,448},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>adrammelech_arms_attack_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{84,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,54}}</string>
                <key>sourceSize</key>
                <string>{84,54}</string>
            </dict>
            <key>adrammelech_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,442},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{57,69}</string>
            </dict>
            <key>adrammelech_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,321},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{57,69}</string>
            </dict>
            <key>adrammelech_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{57,69}</string>
            </dict>
            <key>adrammelech_arms_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,303},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>adrammelech_arms_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>adrammelech_arms_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,73},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>adrammelech_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,155},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>adrammelech_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,232},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>adrammelech_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,392},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>adrammelech_arms_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,84},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{57,69}</string>
            </dict>
            <key>adrammelech_arms_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,161},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{57,69}</string>
            </dict>
            <key>adrammelech_arms_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,250},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{57,69}</string>
            </dict>
            <key>adrammelech_body_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>adrammelech_body_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,350},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>adrammelech_body_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>adrammelech_body_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,252},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>adrammelech_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>adrammelech_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>adrammelech_foot_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,484},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>adrammelech_foot_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>adrammelech_head_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,84},{57,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,75}}</string>
                <key>sourceSize</key>
                <string>{57,75}</string>
            </dict>
            <key>adrammelech_head_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,174},{57,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,75}}</string>
                <key>sourceSize</key>
                <string>{57,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_adrammelech.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24d6c1ffe03457bbdaf4cd9ee8d5ba85:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_adrammelech.pvr.ccz</string>
        </dict>
    </dict>
</plist>
