<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phoenix_body_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1141},{141,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,139}}</string>
                <key>sourceSize</key>
                <string>{141,139}</string>
            </dict>
            <key>phoenix_body_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,947},{150,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,130}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>phoenix_body_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1001},{138,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,145}}</string>
                <key>sourceSize</key>
                <string>{138,145}</string>
            </dict>
            <key>phoenix_body_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1001},{141,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,139}}</string>
                <key>sourceSize</key>
                <string>{141,139}</string>
            </dict>
            <key>phoenix_body_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,947},{150,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,130}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>phoenix_body_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,873},{138,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,145}}</string>
                <key>sourceSize</key>
                <string>{138,145}</string>
            </dict>
            <key>phoenix_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{280,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,220}}</string>
                <key>sourceSize</key>
                <string>{280,220}</string>
            </dict>
            <key>phoenix_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,220}}</string>
                <key>sourceSize</key>
                <string>{280,220}</string>
            </dict>
            <key>phoenix_flame_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1135},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>phoenix_flame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1081},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>phoenix_flame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1074},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>phoenix_flame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1074},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>phoenix_flame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1013},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>phoenix_flame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1013},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>phoenix_wings_flame_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,201},{274,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,197}}</string>
                <key>sourceSize</key>
                <string>{274,197}</string>
            </dict>
            <key>phoenix_wings_flame_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,631},{253,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,229}}</string>
                <key>sourceSize</key>
                <string>{253,229}</string>
            </dict>
            <key>phoenix_wings_flame_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,862},{237,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,217}}</string>
                <key>sourceSize</key>
                <string>{237,217}</string>
            </dict>
            <key>phoenix_wings_flame_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{274,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,197}}</string>
                <key>sourceSize</key>
                <string>{274,197}</string>
            </dict>
            <key>phoenix_wings_flame_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,423},{253,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,229}}</string>
                <key>sourceSize</key>
                <string>{253,229}</string>
            </dict>
            <key>phoenix_wings_flame_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,654},{237,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,217}}</string>
                <key>sourceSize</key>
                <string>{237,217}</string>
            </dict>
            <key>phoenix_wings_flame_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,224},{197,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,274}}</string>
                <key>sourceSize</key>
                <string>{197,274}</string>
            </dict>
            <key>phoenix_wings_flame_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{229,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,254}}</string>
                <key>sourceSize</key>
                <string>{229,254}</string>
            </dict>
            <key>phoenix_wings_flame_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{217,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,238}}</string>
                <key>sourceSize</key>
                <string>{217,238}</string>
            </dict>
            <key>phoenix_wings_flame_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{197,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,274}}</string>
                <key>sourceSize</key>
                <string>{197,274}</string>
            </dict>
            <key>phoenix_wings_flame_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,400},{229,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,254}}</string>
                <key>sourceSize</key>
                <string>{229,254}</string>
            </dict>
            <key>phoenix_wings_flame_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,728},{217,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,238}}</string>
                <key>sourceSize</key>
                <string>{217,238}</string>
            </dict>
            <key>phoenix_wings_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,377},{115,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,156}}</string>
                <key>sourceSize</key>
                <string>{115,156}</string>
            </dict>
            <key>phoenix_wings_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,611},{115,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,153}}</string>
                <key>sourceSize</key>
                <string>{115,153}</string>
            </dict>
            <key>phoenix_wings_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,131},{127,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,159}}</string>
                <key>sourceSize</key>
                <string>{127,159}</string>
            </dict>
            <key>phoenix_wings_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1079},{127,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,150}}</string>
                <key>sourceSize</key>
                <string>{127,150}</string>
            </dict>
            <key>phoenix_wings_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,873},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,149}</string>
            </dict>
            <key>phoenix_wings_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,494},{115,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,153}}</string>
                <key>sourceSize</key>
                <string>{115,153}</string>
            </dict>
            <key>phoenix_wings_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,260},{115,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,156}}</string>
                <key>sourceSize</key>
                <string>{115,156}</string>
            </dict>
            <key>phoenix_wings_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{127,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,159}}</string>
                <key>sourceSize</key>
                <string>{127,159}</string>
            </dict>
            <key>phoenix_wings_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1079},{127,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,150}}</string>
                <key>sourceSize</key>
                <string>{127,150}</string>
            </dict>
            <key>phoenix_wings_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_phoenix.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f826721836dcce9352704d01436dd3f5:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_phoenix.pvr.ccz</string>
        </dict>
    </dict>
</plist>
