<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>belial_arms_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,176},{51,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,119}}</string>
                <key>sourceSize</key>
                <string>{51,119}</string>
            </dict>
            <key>belial_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
            <key>belial_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,205},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>belial_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,142},{138,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,129}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>belial_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{138,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,129}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>belial_damage_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,201}}</string>
                <key>sourceSize</key>
                <string>{210,201}</string>
            </dict>
            <key>belial_head_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,294},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>belial_head_left_chin.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,226},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>belial_head_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,229},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>belial_head_right_chin.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,176},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>belial_lower_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,89},{165,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,85}}</string>
                <key>sourceSize</key>
                <string>{165,85}</string>
            </dict>
            <key>belial_lower_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{165,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,85}}</string>
                <key>sourceSize</key>
                <string>{165,85}</string>
            </dict>
            <key>belial_wand_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,229},{21,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,65}}</string>
                <key>sourceSize</key>
                <string>{21,65}</string>
            </dict>
            <key>belial_wand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>belial_wings_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{69,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,81}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>belial_wings_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{69,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,81}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_belial.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ba0e3dff42a3cf986c9e106ac18e865:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_belial.pvr.ccz</string>
        </dict>
    </dict>
</plist>
