<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nergal_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,480},{39,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,75}}</string>
                <key>sourceSize</key>
                <string>{39,75}</string>
            </dict>
            <key>nergal_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,521},{51,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>nergal_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,374},{51,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,87}}</string>
                <key>sourceSize</key>
                <string>{51,87}</string>
            </dict>
            <key>nergal_arms_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,450},{69,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,87}}</string>
                <key>sourceSize</key>
                <string>{69,87}</string>
            </dict>
            <key>nergal_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{39,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,75}}</string>
                <key>sourceSize</key>
                <string>{39,75}</string>
            </dict>
            <key>nergal_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,492},{51,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>nergal_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{51,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,87}}</string>
                <key>sourceSize</key>
                <string>{51,87}</string>
            </dict>
            <key>nergal_arms_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,421},{69,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,87}}</string>
                <key>sourceSize</key>
                <string>{69,87}</string>
            </dict>
            <key>nergal_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,526},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>nergal_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,521},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>nergal_chin_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,459},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>nergal_chin_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,427},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>nergal_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{177,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,186}}</string>
                <key>sourceSize</key>
                <string>{177,186}</string>
            </dict>
            <key>nergal_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,186}}</string>
                <key>sourceSize</key>
                <string>{177,186}</string>
            </dict>
            <key>nergal_foot_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,528},{72,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>nergal_foot_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,322},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>nergal_foot_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,491},{72,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>nergal_foot_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,284},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>nergal_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,358},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>nergal_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,329},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>nergal_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,282},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>nergal_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>nergal_lower_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,284},{108,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>nergal_lower_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,106},{123,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,102}}</string>
                <key>sourceSize</key>
                <string>{123,102}</string>
            </dict>
            <key>nergal_lower_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,181},{123,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,99}}</string>
                <key>sourceSize</key>
                <string>{123,99}</string>
            </dict>
            <key>nergal_lower_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,255},{108,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>nergal_lower_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{123,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,102}}</string>
                <key>sourceSize</key>
                <string>{123,102}</string>
            </dict>
            <key>nergal_lower_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{123,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,99}}</string>
                <key>sourceSize</key>
                <string>{123,99}</string>
            </dict>
            <key>nergal_scratch_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,210},{72,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,114}}</string>
                <key>sourceSize</key>
                <string>{72,114}</string>
            </dict>
            <key>nergal_scratch_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,576},{42,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,72}}</string>
                <key>sourceSize</key>
                <string>{42,72}</string>
            </dict>
            <key>nergal_scratch_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,181},{72,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,114}}</string>
                <key>sourceSize</key>
                <string>{72,114}</string>
            </dict>
            <key>nergal_scratch_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,454},{42,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,72}}</string>
                <key>sourceSize</key>
                <string>{42,72}</string>
            </dict>
            <key>nergal_tail_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,427},{81,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,51}}</string>
                <key>sourceSize</key>
                <string>{81,51}</string>
            </dict>
            <key>nergal_tail_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,368},{84,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,45}}</string>
                <key>sourceSize</key>
                <string>{84,45}</string>
            </dict>
            <key>nergal_tail_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,443},{81,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,54}}</string>
                <key>sourceSize</key>
                <string>{81,54}</string>
            </dict>
            <key>nergal_tail_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{81,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,51}}</string>
                <key>sourceSize</key>
                <string>{81,51}</string>
            </dict>
            <key>nergal_tail_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,282},{84,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,45}}</string>
                <key>sourceSize</key>
                <string>{84,45}</string>
            </dict>
            <key>nergal_tail_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,360},{81,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,54}}</string>
                <key>sourceSize</key>
                <string>{81,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_nergal.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8249754a8ffe3b8b7b89a82e31f0820c:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_nergal.pvr.ccz</string>
        </dict>
    </dict>
</plist>
