<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>forneus_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,294},{51,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,107}}</string>
                <key>sourceSize</key>
                <string>{51,107}</string>
            </dict>
            <key>forneus_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,264},{75,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,105}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
            <key>forneus_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,421},{75,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,102}}</string>
                <key>sourceSize</key>
                <string>{75,102}</string>
            </dict>
            <key>forneus_arms_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,347},{75,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,102}}</string>
                <key>sourceSize</key>
                <string>{75,102}</string>
            </dict>
            <key>forneus_arms_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{84,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,111}}</string>
                <key>sourceSize</key>
                <string>{84,111}</string>
            </dict>
            <key>forneus_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,193},{63,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,113}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>forneus_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,212},{75,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,105}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
            <key>forneus_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,344},{75,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,102}}</string>
                <key>sourceSize</key>
                <string>{75,102}</string>
            </dict>
            <key>forneus_arms_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,319},{75,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,102}}</string>
                <key>sourceSize</key>
                <string>{75,102}</string>
            </dict>
            <key>forneus_arms_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,258},{84,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,111}}</string>
                <key>sourceSize</key>
                <string>{84,111}</string>
            </dict>
            <key>forneus_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,193},{117,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,99}}</string>
                <key>sourceSize</key>
                <string>{117,99}</string>
            </dict>
            <key>forneus_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{117,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,99}}</string>
                <key>sourceSize</key>
                <string>{117,99}</string>
            </dict>
            <key>forneus_chin_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,489},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>forneus_chin_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>forneus_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{216,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,189}}</string>
                <key>sourceSize</key>
                <string>{216,189}</string>
            </dict>
            <key>forneus_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,189}}</string>
                <key>sourceSize</key>
                <string>{216,189}</string>
            </dict>
            <key>forneus_head_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,466},{93,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,99}}</string>
                <key>sourceSize</key>
                <string>{93,99}</string>
            </dict>
            <key>forneus_head_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,371},{93,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,99}}</string>
                <key>sourceSize</key>
                <string>{93,99}</string>
            </dict>
            <key>forneus_lower_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{84,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,93}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>forneus_lower_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,488},{84,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,93}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>forneus_tail_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,424},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>forneus_tail_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,67},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>forneus_tail_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,193},{78,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,69}}</string>
                <key>sourceSize</key>
                <string>{78,69}</string>
            </dict>
            <key>forneus_tail_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,423},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>forneus_tail_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>forneus_tail_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,132},{78,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,69}}</string>
                <key>sourceSize</key>
                <string>{78,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_forneus.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c9eb4645b6ff25caff2c8106138d687:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_forneus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
