<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>astaroth_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,209},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>astaroth_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,162},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>astaroth_arms_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,115},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>astaroth_back_deco.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{111,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,90}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>astaroth_chest_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,263},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>astaroth_chest_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,256},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>astaroth_damage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>astaroth_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>astaroth_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,317},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>astaroth_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,317},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>astaroth_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,292},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>astaroth_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>astaroth_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,267},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>astaroth_lower_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,207},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,54}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>astaroth_lower_righ.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,151},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,54}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>astaroth_wand_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{106,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,45}}</string>
                <key>sourceSize</key>
                <string>{106,45}</string>
            </dict>
            <key>astaroth_wand_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{106,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,45}}</string>
                <key>sourceSize</key>
                <string>{106,45}</string>
            </dict>
            <key>astaroth_wand_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{45,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,106}}</string>
                <key>sourceSize</key>
                <string>{45,106}</string>
            </dict>
            <key>astaroth_wings.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,115},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_astaroth.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad9574035be7ac06eebc0df0e83a6ece:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_astaroth.pvr.ccz</string>
        </dict>
    </dict>
</plist>
