<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>golddragon_arms_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{76,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,69}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
            <key>golddragon_arms_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,758},{76,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,69}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
            <key>golddragon_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{164,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,65}}</string>
                <key>sourceSize</key>
                <string>{164,65}</string>
            </dict>
            <key>golddragon_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{164,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,65}}</string>
                <key>sourceSize</key>
                <string>{164,65}</string>
            </dict>
            <key>golddragon_chest_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,599},{99,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,112}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>golddragon_chest_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,421},{99,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,112}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>golddragon_chin_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,700},{87,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,77}}</string>
                <key>sourceSize</key>
                <string>{87,77}</string>
            </dict>
            <key>golddragon_chin_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>golddragon_chin_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,647},{87,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,77}}</string>
                <key>sourceSize</key>
                <string>{87,77}</string>
            </dict>
            <key>golddragon_chin_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,674},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>golddragon_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{286,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,213}}</string>
                <key>sourceSize</key>
                <string>{286,213}</string>
            </dict>
            <key>golddragon_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,213}}</string>
                <key>sourceSize</key>
                <string>{286,213}</string>
            </dict>
            <key>golddragon_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,510},{120,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>golddragon_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,421},{120,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>golddragon_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,559},{113,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,119}}</string>
                <key>sourceSize</key>
                <string>{113,119}</string>
            </dict>
            <key>golddragon_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,339},{120,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>golddragon_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,217},{120,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>golddragon_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{113,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,119}}</string>
                <key>sourceSize</key>
                <string>{113,119}</string>
            </dict>
            <key>golddragon_leg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,591},{54,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,103}}</string>
                <key>sourceSize</key>
                <string>{54,103}</string>
            </dict>
            <key>golddragon_leg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,535},{54,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,103}}</string>
                <key>sourceSize</key>
                <string>{54,103}</string>
            </dict>
            <key>golddragon_neck_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{114,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,96}}</string>
                <key>sourceSize</key>
                <string>{114,96}</string>
            </dict>
            <key>golddragon_neck_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,461},{114,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,96}}</string>
                <key>sourceSize</key>
                <string>{114,96}</string>
            </dict>
            <key>golddragon_wings_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,290},{129,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,194}}</string>
                <key>sourceSize</key>
                <string>{129,194}</string>
            </dict>
            <key>golddragon_wings_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{129,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,194}}</string>
                <key>sourceSize</key>
                <string>{129,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_golddragon.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:767d1570003cd8a2de1f8ed9e17fd169:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_golddragon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
