<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leviathan_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,200},{69,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,126}}</string>
                <key>sourceSize</key>
                <string>{69,126}</string>
            </dict>
            <key>leviathan_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,382},{93,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,135}}</string>
                <key>sourceSize</key>
                <string>{93,135}</string>
            </dict>
            <key>leviathan_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,462},{117,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,129}}</string>
                <key>sourceSize</key>
                <string>{117,129}</string>
            </dict>
            <key>leviathan_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,72},{69,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,126}}</string>
                <key>sourceSize</key>
                <string>{69,126}</string>
            </dict>
            <key>leviathan_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{93,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,135}}</string>
                <key>sourceSize</key>
                <string>{93,135}</string>
            </dict>
            <key>leviathan_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,343},{117,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,129}}</string>
                <key>sourceSize</key>
                <string>{117,129}</string>
            </dict>
            <key>leviathan_chest_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,501},{117,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,99}}</string>
                <key>sourceSize</key>
                <string>{117,99}</string>
            </dict>
            <key>leviathan_chest_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,382},{117,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,99}}</string>
                <key>sourceSize</key>
                <string>{117,99}</string>
            </dict>
            <key>leviathan_chin_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{69,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,57}}</string>
                <key>sourceSize</key>
                <string>{69,57}</string>
            </dict>
            <key>leviathan_chin_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,272},{69,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,57}}</string>
                <key>sourceSize</key>
                <string>{69,57}</string>
            </dict>
            <key>leviathan_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,72},{216,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,198}}</string>
                <key>sourceSize</key>
                <string>{216,198}</string>
            </dict>
            <key>leviathan_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{216,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,198}}</string>
                <key>sourceSize</key>
                <string>{216,198}</string>
            </dict>
            <key>leviathan_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,602},{99,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,110}}</string>
                <key>sourceSize</key>
                <string>{99,110}</string>
            </dict>
            <key>leviathan_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>leviathan_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,560},{99,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,110}}</string>
                <key>sourceSize</key>
                <string>{99,110}</string>
            </dict>
            <key>leviathan_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{99,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,110}}</string>
                <key>sourceSize</key>
                <string>{99,110}</string>
            </dict>
            <key>leviathan_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,682},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>leviathan_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,581},{99,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,110}}</string>
                <key>sourceSize</key>
                <string>{99,110}</string>
            </dict>
            <key>leviathan_lower_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,703},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>leviathan_lower_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>leviathan_neck_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,477},{123,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,81}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>leviathan_neck_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{123,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,81}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>leviathan_scratch_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{68,250}}</string>
                <key>offset</key>
                <string>{-20,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,250}}</string>
                <key>sourceSize</key>
                <string>{108,264}</string>
            </dict>
            <key>leviathan_scratch_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,272},{108,186}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,78},{108,186}}</string>
                <key>sourceSize</key>
                <string>{108,264}</string>
            </dict>
            <key>leviathan_scratch_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,250}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{68,250}}</string>
                <key>sourceSize</key>
                <string>{108,264}</string>
            </dict>
            <key>leviathan_scratch_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{108,186}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,78},{108,186}}</string>
                <key>sourceSize</key>
                <string>{108,264}</string>
            </dict>
            <key>leviathan_tail_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,747},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>leviathan_tail_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,682},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_leviathan.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c449fb9df82198111b1a6a2b29c8fe6f:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_leviathan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
