<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cthuihu_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{45,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,107}}</string>
                <key>sourceSize</key>
                <string>{45,107}</string>
            </dict>
            <key>cthuihu_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,347},{66,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,93}}</string>
                <key>sourceSize</key>
                <string>{66,93}</string>
            </dict>
            <key>cthuihu_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,129},{81,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,125}}</string>
                <key>sourceSize</key>
                <string>{81,125}</string>
            </dict>
            <key>cthuihu_arms_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,768},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>cthuihu_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,398},{45,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,107}}</string>
                <key>sourceSize</key>
                <string>{45,107}</string>
            </dict>
            <key>cthuihu_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,279},{66,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,93}}</string>
                <key>sourceSize</key>
                <string>{66,93}</string>
            </dict>
            <key>cthuihu_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{81,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,125}}</string>
                <key>sourceSize</key>
                <string>{81,125}</string>
            </dict>
            <key>cthuihu_arms_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,710},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>cthuihu_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,184},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>cthuihu_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{93,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,155}}</string>
                <key>sourceSize</key>
                <string>{93,155}</string>
            </dict>
            <key>cthuihu_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{207,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,180}}</string>
                <key>sourceSize</key>
                <string>{207,180}</string>
            </dict>
            <key>cthuihu_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,180}}</string>
                <key>sourceSize</key>
                <string>{207,180}</string>
            </dict>
            <key>cthuihu_foot_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,542},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>cthuihu_foot_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,654},{54,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>cthuihu_foot_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,486},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>cthuihu_foot_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,598},{54,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>cthuihu_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,576},{99,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,105}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>cthuihu_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,487},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>cthuihu_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,445},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>cthuihu_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,802},{99,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,102}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
            <key>cthuihu_head_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>cthuihu_head_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,594},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>cthuihu_head_left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,757},{99,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,102}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
            <key>cthuihu_head_left_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,279},{99,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,107}}</string>
                <key>sourceSize</key>
                <string>{99,107}</string>
            </dict>
            <key>cthuihu_head_left_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>cthuihu_head_left_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,698},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>cthuihu_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,552},{99,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,105}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>cthuihu_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>cthuihu_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,380},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>cthuihu_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,677},{99,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,102}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
            <key>cthuihu_head_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,469},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>cthuihu_head_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,291},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>cthuihu_head_right_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{99,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,102}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
            <key>cthuihu_head_right_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{99,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,107}}</string>
                <key>sourceSize</key>
                <string>{99,107}</string>
            </dict>
            <key>cthuihu_head_right_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,184},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>cthuihu_head_right_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,653},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>cthuihu_wing_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,327},{69,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,81}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>cthuihu_wing_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,415},{69,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{69,80}</string>
            </dict>
            <key>cthuihu_wing_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,256},{69,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,81}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>cthuihu_wing_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,398},{69,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{69,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_cthulhu.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:105bf3967bf849ce6edc4ff4834232f8:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_cthulhu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
