<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leonard_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,54}}</string>
                <key>sourceSize</key>
                <string>{27,54}</string>
            </dict>
            <key>leonard_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{33,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,57}}</string>
                <key>sourceSize</key>
                <string>{33,57}</string>
            </dict>
            <key>leonard_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,144},{32,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,54}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>leonard_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,274},{39,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,57}}</string>
                <key>sourceSize</key>
                <string>{39,57}</string>
            </dict>
            <key>leonard_auras_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,96},{84,131}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{84,131}}</string>
                <key>sourceSize</key>
                <string>{92,143}</string>
            </dict>
            <key>leonard_auras_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{92,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,143}}</string>
                <key>sourceSize</key>
                <string>{92,143}</string>
            </dict>
            <key>leonard_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,460},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>leonard_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,460},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>leonard_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{175,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,140}}</string>
                <key>sourceSize</key>
                <string>{175,140}</string>
            </dict>
            <key>leonard_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,140}}</string>
                <key>sourceSize</key>
                <string>{175,140}</string>
            </dict>
            <key>leonard_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,284},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>leonard_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,274},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>leonard_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,284},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>leonard_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,449},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>leonard_lower_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,283},{63,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,42}}</string>
                <key>sourceSize</key>
                <string>{63,42}</string>
            </dict>
            <key>leonard_lower_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,283},{63,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,42}}</string>
                <key>sourceSize</key>
                <string>{63,42}</string>
            </dict>
            <key>leonard_sickle_blade_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,336},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>leonard_sickle_blade_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,434},{76,42}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,51},{76,42}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>leonard_sickle_blade_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,188},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>leonard_sickle_blade_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,144},{76,42}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,51},{76,42}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>leonard_sickle_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,359},{118,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,54}}</string>
                <key>sourceSize</key>
                <string>{118,54}</string>
            </dict>
            <key>leonard_sickle_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,348},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>leonard_sickle_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,358},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>leonard_sickle_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{118,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,54}}</string>
                <key>sourceSize</key>
                <string>{118,54}</string>
            </dict>
            <key>leonard_sickle_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,182},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>leonard_sickle_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,182},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>leonard_wings.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{175,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,74}}</string>
                <key>sourceSize</key>
                <string>{175,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_leonard.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d2511ca68fd3311cd6cc52854c535e6:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_leonard.pvr.ccz</string>
        </dict>
    </dict>
</plist>
