<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moloch_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,48},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>moloch_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,142},{30,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,56}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>moloch_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,397},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>moloch_arms_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,439},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>moloch_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,110},{30,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,56}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>moloch_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,351},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>moloch_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,443},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>moloch_arms_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>moloch_axe_blade_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,110},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>moloch_axe_blade_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,307},{76,42}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,54},{76,42}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>moloch_axe_blade_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>moloch_axe_blade_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,264},{76,42}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{76,42}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>moloch_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,379},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>moloch_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>moloch_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{111,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,106}}</string>
                <key>sourceSize</key>
                <string>{111,106}</string>
            </dict>
            <key>moloch_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,106}}</string>
                <key>sourceSize</key>
                <string>{111,106}</string>
            </dict>
            <key>moloch_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{78,66}</string>
            </dict>
            <key>moloch_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,239},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{78,66}</string>
            </dict>
            <key>moloch_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,196},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{78,66}</string>
            </dict>
            <key>moloch_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{78,66}</string>
            </dict>
            <key>moloch_lower_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,420},{63,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,42}}</string>
                <key>sourceSize</key>
                <string>{63,42}</string>
            </dict>
            <key>moloch_lower_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,355},{63,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,42}}</string>
                <key>sourceSize</key>
                <string>{63,42}</string>
            </dict>
            <key>moloch_weapon_axe_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>moloch_weapon_axe_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,351},{54,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>moloch_weapon_axe_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,407},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>moloch_weapon_axe_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,308},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>moloch_weapon_axe_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,174},{54,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>moloch_weapon_axe_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_moloch.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e05e3f860115f64a6a400dd5b9114c5d:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_moloch.pvr.ccz</string>
        </dict>
    </dict>
</plist>
