<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beelzebub_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,37},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>beelzebub_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,116},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>beelzebub_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,154},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>beelzebub_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,78},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>beelzebub_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,106},{117,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,102}}</string>
                <key>sourceSize</key>
                <string>{117,102}</string>
            </dict>
            <key>beelzebub_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{117,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,102}}</string>
                <key>sourceSize</key>
                <string>{117,102}</string>
            </dict>
            <key>beelzebub_chin_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,227},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>beelzebub_chin_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,189},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>beelzebub_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{173,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,171}}</string>
                <key>sourceSize</key>
                <string>{173,171}</string>
            </dict>
            <key>beelzebub_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{173,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,168}}</string>
                <key>sourceSize</key>
                <string>{173,168}</string>
            </dict>
            <key>beelzebub_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,346},{69,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,90}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>beelzebub_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{72,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,93}</string>
            </dict>
            <key>beelzebub_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,272},{69,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,90}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>beelzebub_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,210},{72,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,93}</string>
            </dict>
            <key>beelzebub_vine_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,278},{66,16}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{66,16}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>beelzebub_vine_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,210},{66,22}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{66,22}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>beelzebub_vine_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,265},{66,34}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>beelzebub_vine_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,438},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>beelzebub_vine_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,438},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>beelzebub_wand_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,346},{60,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,137}}</string>
                <key>sourceSize</key>
                <string>{60,137}</string>
            </dict>
            <key>beelzebub_wand_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{60,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,137}}</string>
                <key>sourceSize</key>
                <string>{60,137}</string>
            </dict>
            <key>beelzebub_wing_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{173,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,63}}</string>
                <key>sourceSize</key>
                <string>{173,63}</string>
            </dict>
            <key>beelzebub_wing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,33}}</string>
                <key>sourceSize</key>
                <string>{208,33}</string>
            </dict>
            <key>beelzebub_wing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,175},{173,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,64}}</string>
                <key>sourceSize</key>
                <string>{173,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_beelzebub.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:766f42f3ce3217bdede68e245d39ff39:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_beelzebub.pvr.ccz</string>
        </dict>
    </dict>
</plist>
