<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>satan_armst_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,323},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>satan_armst_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,249},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>satan_armst_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,249},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>satan_armst_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,394},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>satan_chest_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,163},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>satan_chest_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,413},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>satan_chin_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,163},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>satan_chin_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>satan_damage_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,159}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>satan_damage_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,159}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>satan_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{114,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,57}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>satan_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{114,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,57}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>satan_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{114,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,57}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>satan_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,158},{114,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,57}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>satan_lower_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,315},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>satan_lower_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,217},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>satan_wings_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,80},{76,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,135}}</string>
                <key>sourceSize</key>
                <string>{76,135}</string>
            </dict>
            <key>satan_wings_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{76,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,135}}</string>
                <key>sourceSize</key>
                <string>{76,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_satan.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dac051b67baf867638c589b7472c7935:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_satan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
