<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haetae_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,163},{312,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,159}}</string>
                <key>sourceSize</key>
                <string>{312,159}</string>
            </dict>
            <key>haetae_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{312,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,159}}</string>
                <key>sourceSize</key>
                <string>{312,159}</string>
            </dict>
            <key>haetae_chin_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,399},{177,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,156}}</string>
                <key>sourceSize</key>
                <string>{177,156}</string>
            </dict>
            <key>haetae_chin_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,241},{177,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,156}}</string>
                <key>sourceSize</key>
                <string>{177,156}</string>
            </dict>
            <key>haetae_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{327,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,237}}</string>
                <key>sourceSize</key>
                <string>{327,237}</string>
            </dict>
            <key>haetae_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,237}}</string>
                <key>sourceSize</key>
                <string>{327,237}</string>
            </dict>
            <key>haetae_effect_blue_fire_00_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,969},{88,79}}</string>
                <key>offset</key>
                <string>{73,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,0},{88,79}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_00_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,879},{88,79}}</string>
                <key>offset</key>
                <string>{-73,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,79}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{120,109}}</string>
                <key>offset</key>
                <string>{57,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_01_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1059},{120,109}}</string>
                <key>offset</key>
                <string>{-57,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1252},{154,139}}</string>
                <key>offset</key>
                <string>{40,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,8},{154,139}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_02_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,634},{154,139}}</string>
                <key>offset</key>
                <string>{-40,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{154,139}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,479},{156,153}}</string>
                <key>offset</key>
                <string>{39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,9},{156,153}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_03_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,324},{156,153}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{156,153}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{190,159}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,3},{190,159}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_04_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,906},{190,159}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{190,159}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,489},{210,163}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{210,163}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_05_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,324},{210,163}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{210,163}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,241},{234,163}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{234,163}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_06_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{234,163}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{234,163}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,406},{210,159}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{210,159}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_07_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{210,159}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{210,159}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,654},{208,159}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{208,159}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_08_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,557},{208,159}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{208,159}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,815},{204,159}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{204,159}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_09_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,718},{204,159}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{204,159}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,567},{204,159}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{204,159}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_effect_blue_fire_10_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{204,159}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{204,159}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>haetae_foot_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1335},{144,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,51}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>haetae_foot_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1107},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>haetae_foot_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{144,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,51}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>haetae_foot_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1067},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>haetae_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1141},{162,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,129}}</string>
                <key>sourceSize</key>
                <string>{162,129}</string>
            </dict>
            <key>haetae_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,976},{162,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,129}}</string>
                <key>sourceSize</key>
                <string>{162,129}</string>
            </dict>
            <key>haetae_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1151},{162,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,129}}</string>
                <key>sourceSize</key>
                <string>{162,129}</string>
            </dict>
            <key>haetae_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1121},{162,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,129}}</string>
                <key>sourceSize</key>
                <string>{162,129}</string>
            </dict>
            <key>haetae_head_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1010},{162,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,129}}</string>
                <key>sourceSize</key>
                <string>{162,129}</string>
            </dict>
            <key>haetae_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{162,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,129}}</string>
                <key>sourceSize</key>
                <string>{162,129}</string>
            </dict>
            <key>haetae_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,990},{162,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,129}}</string>
                <key>sourceSize</key>
                <string>{162,129}</string>
            </dict>
            <key>haetae_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,879},{162,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,129}}</string>
                <key>sourceSize</key>
                <string>{162,129}</string>
            </dict>
            <key>haetae_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{162,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,129}}</string>
                <key>sourceSize</key>
                <string>{162,129}</string>
            </dict>
            <key>haetae_head_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,775},{162,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,129}}</string>
                <key>sourceSize</key>
                <string>{162,129}</string>
            </dict>
            <key>haetae_leg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,859},{177,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,129}}</string>
                <key>sourceSize</key>
                <string>{177,129}</string>
            </dict>
            <key>haetae_leg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,728},{177,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,129}}</string>
                <key>sourceSize</key>
                <string>{177,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_haetae.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0641b92c3c7367a1ccab16762456e4fc:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_haetae.pvr.ccz</string>
        </dict>
    </dict>
</plist>
