<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>payimon_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,70},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>payimon_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,346},{69,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,42}}</string>
                <key>sourceSize</key>
                <string>{69,42}</string>
            </dict>
            <key>payimon_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>payimon_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,122},{69,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,42}}</string>
                <key>sourceSize</key>
                <string>{69,42}</string>
            </dict>
            <key>payimon_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,257},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>payimon_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,201},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>payimon_cloud_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,62},{58,49}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{58,49}}</string>
                <key>sourceSize</key>
                <string>{120,171}</string>
            </dict>
            <key>payimon_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{58,49}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{58,49}}</string>
                <key>sourceSize</key>
                <string>{120,171}</string>
            </dict>
            <key>payimon_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,73},{70,61}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{120,171}</string>
            </dict>
            <key>payimon_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{120,69}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,69}}</string>
                <key>sourceSize</key>
                <string>{120,171}</string>
            </dict>
            <key>payimon_cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{120,69}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,69}}</string>
                <key>sourceSize</key>
                <string>{120,171}</string>
            </dict>
            <key>payimon_cloud_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,396},{92,99}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,55},{92,99}}</string>
                <key>sourceSize</key>
                <string>{120,171}</string>
            </dict>
            <key>payimon_cloud_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,396},{92,99}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,72},{92,99}}</string>
                <key>sourceSize</key>
                <string>{120,171}</string>
            </dict>
            <key>payimon_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{171,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,195}}</string>
                <key>sourceSize</key>
                <string>{171,195}</string>
            </dict>
            <key>payimon_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,195}}</string>
                <key>sourceSize</key>
                <string>{171,195}</string>
            </dict>
            <key>payimon_eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,193},{71,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,53}}</string>
                <key>sourceSize</key>
                <string>{71,53}</string>
            </dict>
            <key>payimon_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,266},{63,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,75}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>payimon_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,266},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>payimon_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,136},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>payimon_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,201},{63,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,75}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>payimon_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,132},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>payimon_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,132},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>payimon_leg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,73},{57,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,84}}</string>
                <key>sourceSize</key>
                <string>{57,84}</string>
            </dict>
            <key>payimon_leg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,73},{57,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,84}}</string>
                <key>sourceSize</key>
                <string>{57,84}</string>
            </dict>
            <key>payimon_mantle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{119,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,111}}</string>
                <key>sourceSize</key>
                <string>{119,111}</string>
            </dict>
            <key>payimon_mantle_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,167},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>payimon_mantle_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,219},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>payimon_mantle_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,196},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>payimon_mantle_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,138},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>payimon_tail_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,197},{63,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,30}}</string>
                <key>sourceSize</key>
                <string>{63,30}</string>
            </dict>
            <key>payimon_tail_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,201},{63,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,30}}</string>
                <key>sourceSize</key>
                <string>{63,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_payimon.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30ea93a6637cd2db069415c26be2301f:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_payimon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
