<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nidhogg_arms_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,346},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>nidhogg_arms_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,202},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>nidhogg_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,715},{132,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,109}}</string>
                <key>sourceSize</key>
                <string>{132,109}</string>
            </dict>
            <key>nidhogg_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,422},{132,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,109}}</string>
                <key>sourceSize</key>
                <string>{132,109}</string>
            </dict>
            <key>nidhogg_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{211,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,203}}</string>
                <key>sourceSize</key>
                <string>{211,203}</string>
            </dict>
            <key>nidhogg_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,203}}</string>
                <key>sourceSize</key>
                <string>{211,203}</string>
            </dict>
            <key>nidhogg_hands_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,155},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>nidhogg_hands_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,108},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>nidhogg_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{153,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,162}}</string>
                <key>sourceSize</key>
                <string>{153,162}</string>
            </dict>
            <key>nidhogg_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,688},{151,160}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{151,160}}</string>
                <key>sourceSize</key>
                <string>{153,162}</string>
            </dict>
            <key>nidhogg_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,207},{198,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,208}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>nidhogg_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,533},{153,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,162}}</string>
                <key>sourceSize</key>
                <string>{153,162}</string>
            </dict>
            <key>nidhogg_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,407},{153,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,162}}</string>
                <key>sourceSize</key>
                <string>{153,162}</string>
            </dict>
            <key>nidhogg_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,562},{151,160}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,160}}</string>
                <key>sourceSize</key>
                <string>{153,162}</string>
            </dict>
            <key>nidhogg_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{198,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,208}}</string>
                <key>sourceSize</key>
                <string>{198,208}</string>
            </dict>
            <key>nidhogg_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{153,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,162}}</string>
                <key>sourceSize</key>
                <string>{153,162}</string>
            </dict>
            <key>nidhogg_lower_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,293},{51,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,84}}</string>
                <key>sourceSize</key>
                <string>{51,84}</string>
            </dict>
            <key>nidhogg_lower_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,55},{51,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,70}}</string>
                <key>sourceSize</key>
                <string>{51,70}</string>
            </dict>
            <key>nidhogg_lower_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,240},{51,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,84}}</string>
                <key>sourceSize</key>
                <string>{51,84}</string>
            </dict>
            <key>nidhogg_lower_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{51,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,70}}</string>
                <key>sourceSize</key>
                <string>{51,70}</string>
            </dict>
            <key>nidhogg_thigh_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,384},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>nidhogg_thigh_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,384},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_nidhogg.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aecb373b5feda3a20ffc3c256494b48a:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_nidhogg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
