<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CD_card_cardlight_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{553,557}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,557}}</string>
                <key>sourceSize</key>
                <string>{553,557}</string>
            </dict>
            <key>CD_card_cardlight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{531,557}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,557}}</string>
                <key>sourceSize</key>
                <string>{553,557}</string>
            </dict>
            <key>CD_card_cardlight_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1581},{463,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,463}}</string>
                <key>sourceSize</key>
                <string>{463,463}</string>
            </dict>
            <key>CD_card_down_black_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_black_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,224},{220,168}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,94},{220,168}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_black_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,490},{220,128}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,134},{220,128}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_black_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1318},{220,82}}</string>
                <key>offset</key>
                <string>{0,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,180},{220,82}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_black_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,446},{220,42}}</string>
                <key>offset</key>
                <string>{0,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,220},{220,42}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_gold_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,233},{220,220}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_gold_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,499},{220,168}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,94},{220,168}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_gold_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,2},{220,128}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,134},{220,128}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_gold_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1096},{220,82}}</string>
                <key>offset</key>
                <string>{0,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,180},{220,82}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_gold_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,721},{220,42}}</string>
                <key>offset</key>
                <string>{0,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,220},{220,42}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_red_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,776},{220,220}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_red_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1862},{220,168}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,94},{220,168}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_red_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,224},{220,128}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,134},{220,128}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_red_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1012},{220,82}}</string>
                <key>offset</key>
                <string>{0,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,180},{220,82}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_red_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,455},{220,42}}</string>
                <key>offset</key>
                <string>{0,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,220},{220,42}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_silver_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,510},{220,220}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_silver_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1867},{220,168}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,94},{220,168}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_silver_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{220,128}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,134},{220,128}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_silver_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1029},{220,82}}</string>
                <key>offset</key>
                <string>{0,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,180},{220,82}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_down_silver_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,732},{220,42}}</string>
                <key>offset</key>
                <string>{0,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,220},{220,42}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_card_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{229,46}}</string>
                <key>offset</key>
                <string>{1,-194}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,421},{229,46}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,781},{243,48}}</string>
                <key>offset</key>
                <string>{0,-193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,419},{243,48}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,522},{257,52}}</string>
                <key>offset</key>
                <string>{-1,-191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,415},{257,52}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{259,52}}</string>
                <key>offset</key>
                <string>{1,-194}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,418},{259,52}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1598},{267,54}}</string>
                <key>offset</key>
                <string>{0,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,419},{267,54}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,261},{247,54}}</string>
                <key>offset</key>
                <string>{10,-193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,416},{247,54}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1113},{259,138}}</string>
                <key>offset</key>
                <string>{-2,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,332},{259,138}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1596},{259,144}}</string>
                <key>offset</key>
                <string>{1,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,332},{259,144}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{267,150}}</string>
                <key>offset</key>
                <string>{0,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,326},{267,150}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,781},{229,150}}</string>
                <key>offset</key>
                <string>{1,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,323},{229,150}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{147,476}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{147,476}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1120},{139,474}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{139,474}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1120},{139,476}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{139,476}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1120},{139,474}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{139,474}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,561},{103,466}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{103,466}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1113},{69,466}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{69,466}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1113},{19,460}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,0},{19,460}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2037},{7,466}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,0},{7,466}}</string>
                <key>sourceSize</key>
                <string>{267,500}</string>
            </dict>
            <key>CD_card_effect_magic_sign_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{257,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,100}}</string>
                <key>sourceSize</key>
                <string>{257,100}</string>
            </dict>
            <key>CD_card_effect_magic_sign_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,263},{257,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,100}}</string>
                <key>sourceSize</key>
                <string>{257,100}</string>
            </dict>
            <key>CD_card_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1598},{220,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,262}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_star_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,998},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>CD_star_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1096},{163,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,154}}</string>
                <key>sourceSize</key>
                <string>{163,154}</string>
            </dict>
            <key>CD_star_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1867},{171,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,146}}</string>
                <key>sourceSize</key>
                <string>{171,146}</string>
            </dict>
            <key>CD_star_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1261},{151,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,137}}</string>
                <key>sourceSize</key>
                <string>{151,137}</string>
            </dict>
            <key>CD_star_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1374},{198,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,105}}</string>
                <key>sourceSize</key>
                <string>{198,105}</string>
            </dict>
            <key>CD_star_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1374},{193,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,105}}</string>
                <key>sourceSize</key>
                <string>{193,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CD_card_effect.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14d233a01d8f8a75e0eb61dff4ea6137:1/1$</string>
            <key>textureFileName</key>
            <string>CD_card_effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
