<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CD_UI_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,863},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>CD_UI_portal_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,426},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>CD_UI_portal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,664},{90,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{90,90}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>CD_UI_portal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,572},{90,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{90,90}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>CD_UI_portal_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,480},{90,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{90,90}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>CD_auto_select_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,768},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>CD_auto_select_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>CD_auto_select_00_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>CD_auto_select_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,751},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>CD_auto_select_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,660},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>CD_auto_select_01_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,552},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>CD_auto_select_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,859},{62,62}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>CD_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{159,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,385}}</string>
                <key>sourceSize</key>
                <string>{159,385}</string>
            </dict>
            <key>CD_coast.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,235},{189,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,36}}</string>
                <key>sourceSize</key>
                <string>{189,36}</string>
            </dict>
            <key>CD_cursor_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,811},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>CD_cursor_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,768},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>CD_cursor_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,794},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>CD_cursor_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,751},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>CD_hand_cursor_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{104,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,132}}</string>
                <key>sourceSize</key>
                <string>{104,132}</string>
            </dict>
            <key>CD_hand_cursor_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,827},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>CD_inventory_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{141,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,94}}</string>
                <key>sourceSize</key>
                <string>{141,94}</string>
            </dict>
            <key>CD_inventory_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,337},{141,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,94}}</string>
                <key>sourceSize</key>
                <string>{141,94}</string>
            </dict>
            <key>CD_mani_UI_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>CD_menu_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,669},{141,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,80}}</string>
                <key>sourceSize</key>
                <string>{141,80}</string>
            </dict>
            <key>CD_menu_button_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{141,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,80}}</string>
                <key>sourceSize</key>
                <string>{141,80}</string>
            </dict>
            <key>CD_menu_button_00_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,587},{141,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,80}}</string>
                <key>sourceSize</key>
                <string>{141,80}</string>
            </dict>
            <key>CD_menu_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{141,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,80}}</string>
                <key>sourceSize</key>
                <string>{141,80}</string>
            </dict>
            <key>CD_menu_button_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,505},{141,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,80}}</string>
                <key>sourceSize</key>
                <string>{141,80}</string>
            </dict>
            <key>CD_menu_button_01_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,423},{141,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,80}}</string>
                <key>sourceSize</key>
                <string>{141,80}</string>
            </dict>
            <key>CD_menu_quest_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,94},{71,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{71,82}}</string>
                <key>sourceSize</key>
                <string>{99,84}</string>
            </dict>
            <key>CD_minimap_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,880},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,880},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,876},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_a_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,979},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>CD_minimap_a_rank_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,941},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>CD_minimap_b_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,885},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>CD_minimap_b_rank_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,859},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>CD_minimap_c_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,903},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>CD_minimap_c_rank_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,865},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>CD_minimap_d_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,854},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>CD_minimap_d_rank_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,837},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>CD_minimap_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,876},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_door_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,881},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_portal.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,881},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_portal_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,876},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_red_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,987},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_red_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,955},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_red_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,923},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_red_trap_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,987},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_red_trap_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,955},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_red_trap_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,923},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_s_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,827},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>CD_minimap_s_rank_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,789},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>CD_minimap_trap_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,987},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_trap_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,955},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_minimap_trap_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,923},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CD_notoriously_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,756},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CD_notoriously_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,34},{199,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,31}}</string>
                <key>sourceSize</key>
                <string>{199,31}</string>
            </dict>
            <key>CD_quest_button_coin_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,331},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>CD_quest_button_coin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,255},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>CD_quest_button_gem_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,249},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>CD_quest_button_gem_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,167},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>CD_quest_progress_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,303},{149,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,22}}</string>
                <key>sourceSize</key>
                <string>{149,22}</string>
            </dict>
            <key>CD_quest_progress_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{149,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,22}}</string>
                <key>sourceSize</key>
                <string>{149,22}</string>
            </dict>
            <key>CD_quest_progress_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,279},{149,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,22}}</string>
                <key>sourceSize</key>
                <string>{149,22}</string>
            </dict>
            <key>CD_quest_progress_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{149,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,22}}</string>
                <key>sourceSize</key>
                <string>{149,22}</string>
            </dict>
            <key>CD_quest_progress_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,255},{149,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,22}}</string>
                <key>sourceSize</key>
                <string>{149,22}</string>
            </dict>
            <key>CD_quest_progress_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{149,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,22}}</string>
                <key>sourceSize</key>
                <string>{149,22}</string>
            </dict>
            <key>CD_quest_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{473,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,90}}</string>
                <key>sourceSize</key>
                <string>{473,90}</string>
            </dict>
            <key>CD_summon_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,327},{141,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,94}}</string>
                <key>sourceSize</key>
                <string>{141,94}</string>
            </dict>
            <key>CD_summon_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{141,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,94}}</string>
                <key>sourceSize</key>
                <string>{141,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CD_Main_UI.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b936393c636dc064d0bcfafc90363937:1/1$</string>
            <key>textureFileName</key>
            <string>CD_Main_UI.pvr.ccz</string>
        </dict>
    </dict>
</plist>
