<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CD_UI_card_basic.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,114},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>CD_UI_card_bg_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{220,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,238}}</string>
                <key>sourceSize</key>
                <string>{220,238}</string>
            </dict>
            <key>CD_UI_card_bg_black_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,449},{220,130}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{220,130}}</string>
                <key>sourceSize</key>
                <string>{220,238}</string>
            </dict>
            <key>CD_UI_card_bg_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{220,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,238}}</string>
                <key>sourceSize</key>
                <string>{220,238}</string>
            </dict>
            <key>CD_UI_card_bg_gold_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,227},{220,130}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{220,130}}</string>
                <key>sourceSize</key>
                <string>{220,238}</string>
            </dict>
            <key>CD_UI_card_bg_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,790},{220,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,238}}</string>
                <key>sourceSize</key>
                <string>{220,238}</string>
            </dict>
            <key>CD_UI_card_bg_red_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{220,130}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{220,130}}</string>
                <key>sourceSize</key>
                <string>{220,238}</string>
            </dict>
            <key>CD_UI_card_bg_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,530},{220,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,238}}</string>
                <key>sourceSize</key>
                <string>{220,238}</string>
            </dict>
            <key>CD_UI_card_bg_silver_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,227},{220,130}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{220,130}}</string>
                <key>sourceSize</key>
                <string>{220,238}</string>
            </dict>
            <key>CD_UI_card_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{110,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,39}}</string>
                <key>sourceSize</key>
                <string>{110,39}</string>
            </dict>
            <key>CD_UI_inventory_attribute_darkness.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,74},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>CD_UI_inventory_attribute_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,38},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>CD_UI_inventory_attribute_leaves.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>CD_UI_inventory_attribute_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,191},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>CD_UI_inventory_cardline_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{220,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,262}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_UI_inventory_cardline_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{222,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,262}}</string>
                <key>sourceSize</key>
                <string>{222,262}</string>
            </dict>
            <key>CD_UI_inventory_cardline_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,262}}</string>
                <key>sourceSize</key>
                <string>{222,262}</string>
            </dict>
            <key>CD_UI_inventory_cardline_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{220,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,262}}</string>
                <key>sourceSize</key>
                <string>{220,262}</string>
            </dict>
            <key>CD_UI_inventory_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,770},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>CD_UI_inventory_number_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,770},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>CD_UI_inventory_number_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{3,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,18}}</string>
                <key>sourceSize</key>
                <string>{3,18}</string>
            </dict>
            <key>CD_UI_inventory_number_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,770},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>CD_UI_inventory_number_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,770},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>CD_UI_inventory_number_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,770},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>CD_UI_inventory_number_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,770},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>CD_UI_inventory_number_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,770},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>CD_UI_inventory_number_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,770},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>CD_UI_inventory_number_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,770},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>CD_UI_inventory_number_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,770},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>CD_UI_inventory_slash.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,770},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>CD_UI_inventory_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,110},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CD_UI_card_image.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:849e1df98d6e53a6a32e36f77e795524:1/1$</string>
            <key>textureFileName</key>
            <string>CD_UI_card_image.pvr.ccz</string>
        </dict>
    </dict>
</plist>
