<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CD_UI_boss_HP_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{255,62}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,62}}</string>
                <key>sourceSize</key>
                <string>{255,86}</string>
            </dict>
            <key>CD_UI_boss_HP_bar_gage.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,64},{243,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,24}}</string>
                <key>sourceSize</key>
                <string>{243,24}</string>
            </dict>
            <key>CD_UI_boss_skill_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{255,34}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{255,34}}</string>
                <key>sourceSize</key>
                <string>{255,86}</string>
            </dict>
            <key>CD_UI_boss_skill_bar_gage.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,38},{243,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,24}}</string>
                <key>sourceSize</key>
                <string>{243,24}</string>
            </dict>
            <key>CD_UI_breachofcontract_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,298},{216,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,102}}</string>
                <key>sourceSize</key>
                <string>{216,102}</string>
            </dict>
            <key>CD_UI_breachofcontract_button_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,210},{216,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,102}}</string>
                <key>sourceSize</key>
                <string>{216,102}</string>
            </dict>
            <key>CD_UI_breachofcontract_button_00_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,106},{216,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,102}}</string>
                <key>sourceSize</key>
                <string>{216,102}</string>
            </dict>
            <key>CD_UI_breachofcontract_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,598},{216,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,102}</string>
            </dict>
            <key>CD_UI_breachofcontract_button_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,500},{216,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,102}</string>
            </dict>
            <key>CD_UI_breachofcontract_button_01_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,488},{216,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,102}</string>
            </dict>
            <key>CD_UI_button_cancel_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,712},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_button_cancel_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,650},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_button_cancel_00_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,588},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_button_cancel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,722},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_button_cancel_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,965},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_button_cancel_01_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,907},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_button_confirmation_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,526},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_button_confirmation_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,464},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_button_confirmation_00_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,402},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_button_confirmation_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,774},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_button_confirmation_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,774},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_button_confirmation_01_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,774},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_info_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{537,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,398}}</string>
                <key>sourceSize</key>
                <string>{537,398}</string>
            </dict>
            <key>CD_UI_inventory_star_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,282},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>CD_UI_normal_HP_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,941},{190,62}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,62}}</string>
                <key>sourceSize</key>
                <string>{190,86}</string>
            </dict>
            <key>CD_UI_normal_HP_bar_gage.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,696},{178,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,24}}</string>
                <key>sourceSize</key>
                <string>{178,24}</string>
            </dict>
            <key>CD_UI_normal_skill_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,90},{190,36}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{190,36}}</string>
                <key>sourceSize</key>
                <string>{190,86}</string>
            </dict>
            <key>CD_UI_normal_skill_bar_gage.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,308},{178,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,24}}</string>
                <key>sourceSize</key>
                <string>{178,24}</string>
            </dict>
            <key>CD_UI_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{537,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,293}}</string>
                <key>sourceSize</key>
                <string>{537,293}</string>
            </dict>
            <key>CD_UI_reinforcement_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,194},{216,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,102}}</string>
                <key>sourceSize</key>
                <string>{216,102}</string>
            </dict>
            <key>CD_UI_reinforcement_button_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,90},{216,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,102}}</string>
                <key>sourceSize</key>
                <string>{216,102}</string>
            </dict>
            <key>CD_UI_reinforcement_button_00_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{216,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,102}}</string>
                <key>sourceSize</key>
                <string>{216,102}</string>
            </dict>
            <key>CD_UI_reinforcement_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,402},{216,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,102}</string>
            </dict>
            <key>CD_UI_reinforcement_button_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,412},{216,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,102}</string>
            </dict>
            <key>CD_UI_reinforcement_button_01_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,314},{216,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CD_UI_info.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a5925a2382b92325c7da4a0bfd8f7be:1/1$</string>
            <key>textureFileName</key>
            <string>CD_UI_info.pvr.ccz</string>
        </dict>
    </dict>
</plist>
