<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CD_UI_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{537,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,293}}</string>
                <key>sourceSize</key>
                <string>{537,293}</string>
            </dict>
            <key>CD_UI_popup_button_cancel_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,352},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_popup_button_cancel_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,318},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_popup_button_cancel_00_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,290},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_popup_button_cancel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,588},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_popup_button_cancel_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,584},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_popup_button_cancel_01_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,530},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_popup_button_confirmation_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,228},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_popup_button_confirmation_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,185},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_popup_button_confirmation_00_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,52},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_popup_button_confirmation_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,472},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_popup_button_confirmation_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,451},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_popup_button_confirmation_01_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,414},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>CD_UI_popup_freegem_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,140},{133,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,86}}</string>
                <key>sourceSize</key>
                <string>{133,86}</string>
            </dict>
            <key>CD_UI_popup_shop_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,52},{133,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,86}}</string>
                <key>sourceSize</key>
                <string>{133,86}</string>
            </dict>
            <key>CD_UI_popup_textbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{503,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,48}}</string>
                <key>sourceSize</key>
                <string>{503,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CD_UI_popup.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77d41db7798fbaf4d86dfff0187cd504:1/1$</string>
            <key>textureFileName</key>
            <string>CD_UI_popup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
