<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CD_UI_cost.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,283},{139,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,36}}</string>
                <key>sourceSize</key>
                <string>{139,36}</string>
            </dict>
            <key>CD_UI_dungeon_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,873},{66,60}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>CD_UI_dungeon_fire_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,655},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>CD_UI_dungeon_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,655},{66,60}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>CD_UI_dungeon_light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,587},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>CD_UI_dungeon_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,737},{66,60}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>CD_UI_dungeon_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,805},{66,60}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>CD_UI_dungeon_tree_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,499},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>CD_UI_dungeon_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,737},{66,60}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>CD_UI_dungeon_water_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,431},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>CD_UI_load_1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,567},{18,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,95}}</string>
                <key>sourceSize</key>
                <string>{18,95}</string>
            </dict>
            <key>CD_UI_load_1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,379},{175,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,18}}</string>
                <key>sourceSize</key>
                <string>{175,18}</string>
            </dict>
            <key>CD_UI_load_1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,411},{18,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,86}}</string>
                <key>sourceSize</key>
                <string>{18,86}</string>
            </dict>
            <key>CD_UI_load_1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{196,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,18}}</string>
                <key>sourceSize</key>
                <string>{196,18}</string>
            </dict>
            <key>CD_UI_load_1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,22},{219,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,304}}</string>
                <key>sourceSize</key>
                <string>{219,304}</string>
            </dict>
            <key>CD_UI_load_2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,314},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>CD_UI_load_2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{18,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,176}}</string>
                <key>sourceSize</key>
                <string>{18,176}</string>
            </dict>
            <key>CD_UI_load_2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,243},{311,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,69}}</string>
                <key>sourceSize</key>
                <string>{311,69}</string>
            </dict>
            <key>CD_UI_load_2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{323,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,18}}</string>
                <key>sourceSize</key>
                <string>{323,18}</string>
            </dict>
            <key>CD_UI_load_3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,22},{48,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,115}}</string>
                <key>sourceSize</key>
                <string>{48,115}</string>
            </dict>
            <key>CD_UI_load_3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,233},{144,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,119}}</string>
                <key>sourceSize</key>
                <string>{144,119}</string>
            </dict>
            <key>CD_UI_load_3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,22},{209,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,108}}</string>
                <key>sourceSize</key>
                <string>{209,108}</string>
            </dict>
            <key>CD_UI_load_3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,525},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>CD_UI_load_4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{152,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,80}}</string>
                <key>sourceSize</key>
                <string>{152,80}</string>
            </dict>
            <key>CD_UI_load_4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,314},{216,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,209}}</string>
                <key>sourceSize</key>
                <string>{216,209}</string>
            </dict>
            <key>CD_UI_load_4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,459},{141,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,185}}</string>
                <key>sourceSize</key>
                <string>{141,185}</string>
            </dict>
            <key>CD_UI_notoriously.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,139},{142,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,39}}</string>
                <key>sourceSize</key>
                <string>{142,39}</string>
            </dict>
            <key>CD_UI_notoriously_gauges_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,424},{143,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,33}}</string>
                <key>sourceSize</key>
                <string>{143,33}</string>
            </dict>
            <key>CD_UI_notoriously_gauges_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{824,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{824,19}}</string>
                <key>sourceSize</key>
                <string>{824,19}</string>
            </dict>
            <key>CD_UI_notoriously_gauges_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,22},{820,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{820,9}}</string>
                <key>sourceSize</key>
                <string>{824,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CD_UI_worldmap.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2b618825efd2f92a69e3055496b911d:1/1$</string>
            <key>textureFileName</key>
            <string>CD_UI_worldmap.pvr.ccz</string>
        </dict>
    </dict>
</plist>
