<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1772},{131,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>dungeon_button_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1883},{131,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>dungeon_button_00_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1772},{131,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>dungeon_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1649},{131,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>dungeon_button_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1649},{131,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>dungeon_button_01_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1725},{131,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>dungeon_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1772},{266,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,22},{266,55}}</string>
                <key>sourceSize</key>
                <string>{400,97}</string>
            </dict>
            <key>dungeon_clear_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1202},{414,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,41}}</string>
                <key>sourceSize</key>
                <string>{414,41}</string>
            </dict>
            <key>dungeon_clear_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1391},{284,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,47}}</string>
                <key>sourceSize</key>
                <string>{284,47}</string>
            </dict>
            <key>dungeon_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1883},{132,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,120}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>foundinthedungeon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{484,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,640}}</string>
                <key>sourceSize</key>
                <string>{484,640}</string>
            </dict>
            <key>foundinthedungeon_effect_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1002},{363,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,198}}</string>
                <key>sourceSize</key>
                <string>{363,198}</string>
            </dict>
            <key>foundinthedungeon_effect_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,802},{363,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,198}}</string>
                <key>sourceSize</key>
                <string>{363,198}</string>
            </dict>
            <key>foundinthedungeon_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{388,55}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{388,55}}</string>
                <key>sourceSize</key>
                <string>{400,97}</string>
            </dict>
            <key>foundinthedungeon_title_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1202},{330,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,95}}</string>
                <key>sourceSize</key>
                <string>{330,95}</string>
            </dict>
            <key>foundinthedungeon_title_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1342},{314,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,47}}</string>
                <key>sourceSize</key>
                <string>{314,47}</string>
            </dict>
            <key>newepisode_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{484,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,640}}</string>
                <key>sourceSize</key>
                <string>{484,640}</string>
            </dict>
            <key>newepisode_effect_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,602},{363,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,198}}</string>
                <key>sourceSize</key>
                <string>{363,198}</string>
            </dict>
            <key>newepisode_effect_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,402},{363,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,198}}</string>
                <key>sourceSize</key>
                <string>{363,198}</string>
            </dict>
            <key>newepisode_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1772},{105,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,74}}</string>
                <key>sourceSize</key>
                <string>{105,74}</string>
            </dict>
            <key>newepisode_later_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1460},{131,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>newepisode_later_button_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1593},{131,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>newepisode_later_button_00_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1460},{131,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>newepisode_later_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1649},{131,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>newepisode_later_button_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1573},{131,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>newepisode_later_button_01_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1573},{131,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>newepisode_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1772},{263,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{263,55}}</string>
                <key>sourceSize</key>
                <string>{267,57}</string>
            </dict>
            <key>newepisode_title_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1299},{330,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,41}}</string>
                <key>sourceSize</key>
                <string>{330,41}</string>
            </dict>
            <key>newepisode_title_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1497},{250,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,47}}</string>
                <key>sourceSize</key>
                <string>{250,47}</string>
            </dict>
            <key>newepisode_watchnow_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1883},{131,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>newepisode_watchnow_button_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1883},{131,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>newepisode_watchnow_button_00_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1772},{131,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>newepisode_watchnow_button_01_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1497},{131,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>notoriously_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,640}}</string>
                <key>sourceSize</key>
                <string>{484,640}</string>
            </dict>
            <key>notoriously_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1883},{131,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>notoriously_button_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1749},{131,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>notoriously_button_00_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1600},{131,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>notoriously_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1497},{131,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>notoriously_button_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1883},{131,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>notoriously_button_01_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1883},{131,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>notoriously_effect_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,202},{363,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,198}}</string>
                <key>sourceSize</key>
                <string>{363,198}</string>
            </dict>
            <key>notoriously_effect_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{363,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,198}}</string>
                <key>sourceSize</key>
                <string>{363,198}</string>
            </dict>
            <key>notoriously_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1460},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>notoriously_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1440},{278,55}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,22},{278,55}}</string>
                <key>sourceSize</key>
                <string>{400,97}</string>
            </dict>
            <key>notoriously_title_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1391},{379,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,41}}</string>
                <key>sourceSize</key>
                <string>{379,41}</string>
            </dict>
            <key>notoriously_title_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1618},{263,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,47}}</string>
                <key>sourceSize</key>
                <string>{263,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CD_UI_levelup_event.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f6ff6e773e797d7e3c0a2614364c25a:1/1$</string>
            <key>textureFileName</key>
            <string>CD_UI_levelup_event.pvr.ccz</string>
        </dict>
    </dict>
</plist>
