<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>episode_angel.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,285},{90,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>episode_cyclops_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,137}}</string>
                <key>sourceSize</key>
                <string>{176,137}</string>
            </dict>
            <key>episode_cyclops_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,137}}</string>
                <key>sourceSize</key>
                <string>{176,137}</string>
            </dict>
            <key>episode_demon_sword_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,182},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>episode_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,274},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>episode_king.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{76,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{76,104}</string>
            </dict>
            <key>episode_merchant.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{68,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,97}}</string>
                <key>sourceSize</key>
                <string>{68,97}</string>
            </dict>
            <key>episode_mystery_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,377},{65,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,83}}</string>
                <key>sourceSize</key>
                <string>{65,83}</string>
            </dict>
            <key>episode_princess.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,391},{50,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,94}}</string>
                <key>sourceSize</key>
                <string>{50,94}</string>
            </dict>
            <key>episode_senior_priest.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,182},{72,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,101}}</string>
                <key>sourceSize</key>
                <string>{72,101}</string>
            </dict>
            <key>episode_succubus.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,94},{104,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,86}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>episode_sword_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>episode_warriors_fairies.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{126,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,90}}</string>
                <key>sourceSize</key>
                <string>{126,90}</string>
            </dict>
            <key>episode_witch.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,141},{79,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CD_UI_episode.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e441fed8d96a6060e3d5ed269cc4aef:1/1$</string>
            <key>textureFileName</key>
            <string>CD_UI_episode.pvr.ccz</string>
        </dict>
    </dict>
</plist>
