<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CD_UI_adpopcorn_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{232,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,140}}</string>
                <key>sourceSize</key>
                <string>{232,140}</string>
            </dict>
            <key>CD_UI_adpopcorn_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,144},{232,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{232,134}}</string>
                <key>sourceSize</key>
                <string>{232,140}</string>
            </dict>
            <key>CD_UI_freegems_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,280},{219,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,213}}</string>
                <key>sourceSize</key>
                <string>{219,213}</string>
            </dict>
            <key>CD_UI_freegems_gems.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,144},{86,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,64}}</string>
                <key>sourceSize</key>
                <string>{86,64}</string>
            </dict>
            <key>CD_UI_metaps_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{232,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,140}}</string>
                <key>sourceSize</key>
                <string>{232,140}</string>
            </dict>
            <key>CD_UI_metaps_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{232,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{232,134}}</string>
                <key>sourceSize</key>
                <string>{232,140}</string>
            </dict>
            <key>CD_UI_shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,403},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>CD_UI_shop_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,495},{141,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,120}}</string>
                <key>sourceSize</key>
                <string>{141,120}</string>
            </dict>
            <key>CD_UI_shop_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,601},{141,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,120}}</string>
                <key>sourceSize</key>
                <string>{141,120}</string>
            </dict>
            <key>CD_UI_shop_button_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,489},{141,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,120}}</string>
                <key>sourceSize</key>
                <string>{141,120}</string>
            </dict>
            <key>CD_UI_shop_button_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,479},{141,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,120}}</string>
                <key>sourceSize</key>
                <string>{141,120}</string>
            </dict>
            <key>CD_UI_shop_button_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,367},{141,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,120}}</string>
                <key>sourceSize</key>
                <string>{141,120}</string>
            </dict>
            <key>CD_UI_shop_button_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,357},{141,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,120}}</string>
                <key>sourceSize</key>
                <string>{141,120}</string>
            </dict>
            <key>CD_UI_shop_goblin_shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{261,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,120}}</string>
                <key>sourceSize</key>
                <string>{261,120}</string>
            </dict>
            <key>CD_UI_shop_goblin_spin_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{153,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,81}}</string>
                <key>sourceSize</key>
                <string>{153,81}</string>
            </dict>
            <key>CD_UI_shop_potion_shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{249,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,121}}</string>
                <key>sourceSize</key>
                <string>{249,121}</string>
            </dict>
            <key>CD_UI_shop_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{246,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,39}}</string>
                <key>sourceSize</key>
                <string>{246,39}</string>
            </dict>
            <key>CD_UI_shop_spin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{169,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,75}}</string>
                <key>sourceSize</key>
                <string>{169,75}</string>
            </dict>
            <key>CD_UI_shop_spin_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{98,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,146}}</string>
                <key>sourceSize</key>
                <string>{98,146}</string>
            </dict>
            <key>CD_UI_shop_zam_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,443},{61,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,43}}</string>
                <key>sourceSize</key>
                <string>{61,43}</string>
            </dict>
            <key>CD_UI_shop_zam_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,280},{98,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>CD_UI_shop_zam_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,232},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>CD_UI_shop_zam_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,520},{134,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,75}}</string>
                <key>sourceSize</key>
                <string>{134,75}</string>
            </dict>
            <key>CD_UI_shop_zam_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,280},{146,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,85}}</string>
                <key>sourceSize</key>
                <string>{146,85}</string>
            </dict>
            <key>CD_UI_sponsorpay_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,125},{232,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,140}}</string>
                <key>sourceSize</key>
                <string>{232,140}</string>
            </dict>
            <key>CD_UI_sponsorpay_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,267},{232,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{232,134}}</string>
                <key>sourceSize</key>
                <string>{232,140}</string>
            </dict>
            <key>CD_UI_tapjoy_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{232,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,140}}</string>
                <key>sourceSize</key>
                <string>{232,140}</string>
            </dict>
            <key>CD_UI_tapjoy_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,144},{232,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{232,134}}</string>
                <key>sourceSize</key>
                <string>{232,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CD_UI_shop.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9419b6aaa67a5b4b753a173fa86144ff:1/1$</string>
            <key>textureFileName</key>
            <string>CD_UI_shop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
