<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>CD_UI_attribute_darkness.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,95},{24,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,22}}</string>
			<key>sourceSize</key>
			<string>{24,22}</string>
		</dict>
		<key>CD_UI_attribute_fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,39},{26,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,28}}</string>
			<key>sourceSize</key>
			<string>{26,28}</string>
		</dict>
		<key>CD_UI_attribute_leaves.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,156},{26,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,24}}</string>
			<key>sourceSize</key>
			<string>{26,24}</string>
		</dict>
		<key>CD_UI_attribute_water.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,95},{22,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,24}}</string>
			<key>sourceSize</key>
			<string>{22,24}</string>
		</dict>
		<key>CD_UI_balloon_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,35},{30,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,71}}</string>
			<key>sourceSize</key>
			<string>{30,71}</string>
		</dict>
		<key>CD_UI_balloon_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{7,30},{3,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,62}}</string>
			<key>sourceSize</key>
			<string>{3,62}</string>
		</dict>
		<key>CD_UI_balloon_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,58},{9,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,62}}</string>
			<key>sourceSize</key>
			<string>{9,62}</string>
		</dict>
		<key>CD_UI_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,84},{54,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,21}}</string>
			<key>sourceSize</key>
			<string>{54,21}</string>
		</dict>
		<key>CD_UI_boss_HP_bar_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,16},{225,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,12}}</string>
			<key>sourceSize</key>
			<string>{225,12}</string>
		</dict>
		<key>CD_UI_boss_skill_bar_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{225,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,12}}</string>
			<key>sourceSize</key>
			<string>{225,12}</string>
		</dict>
		<key>CD_UI_code_image_level.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,122},{19,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,18}}</string>
			<key>sourceSize</key>
			<string>{19,18}</string>
		</dict>
		<key>CD_UI_code_image_level_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,109},{9,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,18}}</string>
			<key>sourceSize</key>
			<string>{9,18}</string>
		</dict>
		<key>CD_UI_code_image_level_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,251},{3,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,18}}</string>
			<key>sourceSize</key>
			<string>{3,18}</string>
		</dict>
		<key>CD_UI_code_image_level_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,122},{9,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,18}}</string>
			<key>sourceSize</key>
			<string>{9,18}</string>
		</dict>
		<key>CD_UI_code_image_level_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,143},{9,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,18}}</string>
			<key>sourceSize</key>
			<string>{9,18}</string>
		</dict>
		<key>CD_UI_code_image_level_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,156},{9,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,18}}</string>
			<key>sourceSize</key>
			<string>{9,18}</string>
		</dict>
		<key>CD_UI_code_image_level_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,176},{9,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,18}}</string>
			<key>sourceSize</key>
			<string>{9,18}</string>
		</dict>
		<key>CD_UI_code_image_level_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,156},{9,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,18}}</string>
			<key>sourceSize</key>
			<string>{9,18}</string>
		</dict>
		<key>CD_UI_code_image_level_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,109},{9,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,18}}</string>
			<key>sourceSize</key>
			<string>{9,18}</string>
		</dict>
		<key>CD_UI_code_image_level_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,109},{9,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,18}}</string>
			<key>sourceSize</key>
			<string>{9,18}</string>
		</dict>
		<key>CD_UI_code_image_level_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,145},{9,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,18}}</string>
			<key>sourceSize</key>
			<string>{9,18}</string>
		</dict>
		<key>CD_UI_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,61},{54,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,21}}</string>
			<key>sourceSize</key>
			<string>{54,21}</string>
		</dict>
		<key>CD_UI_inventory_focus.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,2},{35,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,25}}</string>
			<key>sourceSize</key>
			<string>{35,25}</string>
		</dict>
		<key>CD_UI_normal_HP_bar_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,39},{160,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,12}}</string>
			<key>sourceSize</key>
			<string>{160,12}</string>
		</dict>
		<key>CD_UI_normal_skill_bar_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,39},{160,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,12}}</string>
			<key>sourceSize</key>
			<string>{160,12}</string>
		</dict>
		<key>CD_UI_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,86},{54,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,21}}</string>
			<key>sourceSize</key>
			<string>{54,21}</string>
		</dict>
		<key>CD_UI_slot_lever_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,30},{66,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,29}}</string>
			<key>sourceSize</key>
			<string>{66,29}</string>
		</dict>
		<key>CD_UI_slot_lever_01_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,30},{80,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,26}}</string>
			<key>sourceSize</key>
			<string>{80,26}</string>
		</dict>
		<key>CD_UI_slot_lever_01_jp.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,201},{48,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,28}}</string>
			<key>sourceSize</key>
			<string>{48,28}</string>
		</dict>
		<key>CD_UI_slot_lever_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,67},{46,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,26}}</string>
			<key>sourceSize</key>
			<string>{46,26}</string>
		</dict>
		<key>CD_UI_slot_lever_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,108},{46,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,26}}</string>
			<key>sourceSize</key>
			<string>{46,26}</string>
		</dict>
		<key>CD_UI_slot_lever_max.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,58},{66,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,26}}</string>
			<key>sourceSize</key>
			<string>{66,26}</string>
		</dict>
		<key>minus.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,122},{21,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,9}}</string>
			<key>sourceSize</key>
			<string>{21,9}</string>
		</dict>
		<key>number_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,171},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>number_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,251},{3,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,15}}</string>
			<key>sourceSize</key>
			<string>{3,15}</string>
		</dict>
		<key>number_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,188},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>number_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,137},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>number_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,154},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>number_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,171},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>number_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,210},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>number_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,193},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>number_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,154},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>number_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,176},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>number_axe.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,120},{15,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,15}}</string>
			<key>sourceSize</key>
			<string>{15,15}</string>
		</dict>
		<key>number_comma.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,30},{3,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,4}}</string>
			<key>sourceSize</key>
			<string>{3,4}</string>
		</dict>
		<key>number_slush.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,109},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,201},{21,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,21}}</string>
			<key>sourceSize</key>
			<string>{21,21}</string>
		</dict>
		<key>select_level.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,122},{19,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,18}}</string>
			<key>sourceSize</key>
			<string>{19,18}</string>
		</dict>
		<key>select_level_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,224},{15,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,21}}</string>
			<key>sourceSize</key>
			<string>{15,21}</string>
		</dict>
		<key>select_level_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,86},{9,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,21}}</string>
			<key>sourceSize</key>
			<string>{9,21}</string>
		</dict>
		<key>select_level_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,201},{15,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,21}}</string>
			<key>sourceSize</key>
			<string>{15,21}</string>
		</dict>
		<key>select_level_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,224},{15,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,21}}</string>
			<key>sourceSize</key>
			<string>{15,21}</string>
		</dict>
		<key>select_level_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,201},{15,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,21}}</string>
			<key>sourceSize</key>
			<string>{15,21}</string>
		</dict>
		<key>select_level_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,224},{15,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,21}}</string>
			<key>sourceSize</key>
			<string>{15,21}</string>
		</dict>
		<key>select_level_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,156},{15,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,21}}</string>
			<key>sourceSize</key>
			<string>{15,21}</string>
		</dict>
		<key>select_level_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,224},{15,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,21}}</string>
			<key>sourceSize</key>
			<string>{15,21}</string>
		</dict>
		<key>select_level_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,184},{15,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,21}}</string>
			<key>sourceSize</key>
			<string>{15,21}</string>
		</dict>
		<key>select_level_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,184},{15,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,21}}</string>
			<key>sourceSize</key>
			<string>{15,21}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>CD_UI_Code_Image.pvr.ccz</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c92fab13cfe9597498959f9e5a4f9896:1/1$</string>
		<key>textureFileName</key>
		<string>CD_UI_Code_Image.pvr.ccz</string>
	</dict>
</dict>
</plist>
