<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CD_UI_mvsm_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,138},{191,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,137}}</string>
                <key>sourceSize</key>
                <string>{191,137}</string>
            </dict>
            <key>CD_UI_mvsm_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,331},{191,131}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{191,131}}</string>
                <key>sourceSize</key>
                <string>{191,137}</string>
            </dict>
            <key>CD_UI_mvsm_ranking_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{191,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,137}}</string>
                <key>sourceSize</key>
                <string>{191,137}</string>
            </dict>
            <key>CD_UI_mvsm_ranking_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,263},{191,131}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{191,131}}</string>
                <key>sourceSize</key>
                <string>{191,137}</string>
            </dict>
            <key>CD_UI_mvsm_ranking_button_google_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,70},{191,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,137}}</string>
                <key>sourceSize</key>
                <string>{191,137}</string>
            </dict>
            <key>CD_UI_mvsm_ranking_button_google_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{191,131}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{191,131}}</string>
                <key>sourceSize</key>
                <string>{191,137}</string>
            </dict>
            <key>CD_UI_mvsm_record_compensation.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,456},{178,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,47}}</string>
                <key>sourceSize</key>
                <string>{178,47}</string>
            </dict>
            <key>CD_UI_mvsm_shield_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,520},{117,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,108}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>CD_UI_mvsm_shield_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,410},{117,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,108}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>CD_UI_mvsm_stage_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{475,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,66}}</string>
                <key>sourceSize</key>
                <string>{475,66}</string>
            </dict>
            <key>CD_UI_mvsm_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{608,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,48}}</string>
                <key>sourceSize</key>
                <string>{608,48}</string>
            </dict>
            <key>CD_UI_mvsm_treasure_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,505},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,57}}</string>
                <key>sourceSize</key>
                <string>{67,57}</string>
            </dict>
            <key>CD_UI_mvsm_you_lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{338,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,66}}</string>
                <key>sourceSize</key>
                <string>{338,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CD_UI_mvsm.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bf10b7b72080c303221d97659812a4a:1/1$</string>
            <key>textureFileName</key>
            <string>CD_UI_mvsm.pvr.ccz</string>
        </dict>
    </dict>
</plist>
