<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HP_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,214},{42,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,6}}</string>
                <key>sourceSize</key>
                <string>{42,6}</string>
            </dict>
            <key>HP_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,182},{42,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,6}}</string>
                <key>sourceSize</key>
                <string>{42,6}</string>
            </dict>
            <key>HP_MAX.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,170},{42,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,6}}</string>
                <key>sourceSize</key>
                <string>{42,6}</string>
            </dict>
            <key>Heel_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,372},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>Heel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,258},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>Heel_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,488},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>Heel_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,458},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>Heel_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,428},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>Heel_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,374},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>Heel_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,398},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>Heel_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>Heel_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>Heel_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>Heel_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,72},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>M_HP_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,126},{42,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,6}}</string>
                <key>sourceSize</key>
                <string>{42,6}</string>
            </dict>
            <key>M_HP_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,142},{42,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,6}}</string>
                <key>sourceSize</key>
                <string>{42,6}</string>
            </dict>
            <key>balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,64},{60,72}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,164},{60,72}}</string>
                <key>sourceSize</key>
                <string>{600,250}</string>
            </dict>
            <key>balloon_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{60,72}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,165},{60,72}}</string>
                <key>sourceSize</key>
                <string>{600,250}</string>
            </dict>
            <key>critical_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>critical_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,195},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>critical_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>critical_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,350},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>critical_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,350},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>critical_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>critical_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,376},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>critical_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,354},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>critical_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,124},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>critical_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,102},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>critical_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,126},{28,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,12}}</string>
                <key>sourceSize</key>
                <string>{28,12}</string>
            </dict>
            <key>d_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,354},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,126},{15,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,36}}</string>
                <key>sourceSize</key>
                <string>{15,36}</string>
            </dict>
            <key>d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,326},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,346},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,326},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,344},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,318},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,316},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,288},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>d_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,34},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,178},{15,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>orb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,250},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>skill_critical.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,17},{176,30}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>skill_critical_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,300},{48,48}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,171},{48,48}}</string>
                <key>sourceSize</key>
                <string>{600,250}</string>
            </dict>
            <key>skill_curse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{124,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{124,34}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>skill_curse_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{48,48}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,171},{48,48}}</string>
                <key>sourceSize</key>
                <string>{600,250}</string>
            </dict>
            <key>skill_heal.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,146},{96,34}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,14},{96,34}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>skill_heal_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,276},{48,48}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,171},{48,48}}</string>
                <key>sourceSize</key>
                <string>{600,250}</string>
            </dict>
            <key>skill_horror.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{148,34}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,14},{148,34}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>skill_horror_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,268},{48,48}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,171},{48,48}}</string>
                <key>sourceSize</key>
                <string>{600,250}</string>
            </dict>
            <key>skill_insight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{146,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,14},{146,34}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>skill_insight_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,250},{48,48}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,171},{48,48}}</string>
                <key>sourceSize</key>
                <string>{600,250}</string>
            </dict>
            <key>skill_leech.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{118,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,14},{118,34}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>skill_leech_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{48,48}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,171},{48,48}}</string>
                <key>sourceSize</key>
                <string>{600,250}</string>
            </dict>
            <key>skill_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,182},{88,34}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,14},{88,34}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>skill_poison.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{136,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,14},{136,34}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>skill_poison_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,226},{48,48}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,171},{48,48}}</string>
                <key>sourceSize</key>
                <string>{600,250}</string>
            </dict>
            <key>skill_terror.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{144,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,14},{144,34}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>skill_terror_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,218},{48,48}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,171},{48,48}}</string>
                <key>sourceSize</key>
                <string>{600,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character_UI.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:735565a43c48979a993097c0bbceac83:1/1$</string>
            <key>textureFileName</key>
            <string>character_UI.pvr.ccz</string>
        </dict>
    </dict>
</plist>
