<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chinese_vampire_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,143},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>chinese_vampire_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,136},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>chinese_vampire_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,116},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>chinese_vampire_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,116},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>chinese_vampire_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,110},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>chinese_vampire_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,90},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>chinese_vampire_body_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,90},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>chinese_vampire_body_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,114},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>chinese_vampire_body_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,114},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>chinese_vampire_body_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,114},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>chinese_vampire_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{57,69}</string>
            </dict>
            <key>chinese_vampire_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{57,69}</string>
            </dict>
            <key>chinese_vampire_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,58},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>chinese_vampire_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,46},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>chinese_vampire_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>chinese_vampire_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>chinese_vampire_head_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,144},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>chinese_vampire_head_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,58},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>chinese_vampire_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>chinese_vampire_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,58},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>chinese_vampire_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>chinese_vampire_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,203},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>chinese_vampire_head_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>chinese_vampire_head_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chinese_vampire.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c307337e50fc75d3c04dcf36303704d1:1/1$</string>
            <key>textureFileName</key>
            <string>chinese_vampire.pvr.ccz</string>
        </dict>
    </dict>
</plist>
