<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chipetopec_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{36,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,72}}</string>
                <key>sourceSize</key>
                <string>{36,72}</string>
            </dict>
            <key>chipetopec_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,188},{36,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,72}}</string>
                <key>sourceSize</key>
                <string>{36,72}</string>
            </dict>
            <key>chipetopec_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,94},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chipetopec_arms_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,141},{45,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,76}}</string>
                <key>sourceSize</key>
                <string>{45,76}</string>
            </dict>
            <key>chipetopec_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,168},{36,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,72}}</string>
                <key>sourceSize</key>
                <string>{36,72}</string>
            </dict>
            <key>chipetopec_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{36,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,72}}</string>
                <key>sourceSize</key>
                <string>{36,72}</string>
            </dict>
            <key>chipetopec_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chipetopec_arms_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,94},{45,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,76}}</string>
                <key>sourceSize</key>
                <string>{45,76}</string>
            </dict>
            <key>chipetopec_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>chipetopec_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,206},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>chipetopec_chin_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,326},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>chipetopec_chin_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>chipetopec_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{117,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,90}}</string>
                <key>sourceSize</key>
                <string>{117,90}</string>
            </dict>
            <key>chipetopec_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,90}}</string>
                <key>sourceSize</key>
                <string>{117,90}</string>
            </dict>
            <key>chipetopec_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,321},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>chipetopec_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,276},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>chipetopec_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,308},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>chipetopec_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>chipetopec_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,226},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>chipetopec_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,271},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>chipetopec_lower_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,267},{60,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,39}}</string>
                <key>sourceSize</key>
                <string>{60,39}</string>
            </dict>
            <key>chipetopec_lower_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,226},{60,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,39}}</string>
                <key>sourceSize</key>
                <string>{60,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chipetopec.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ece8a4bc05e39bbec3abfdb394e8a5f7:1/1$</string>
            <key>textureFileName</key>
            <string>chipetopec.pvr.ccz</string>
        </dict>
    </dict>
</plist>
