<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_elf_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,221},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>dark_elf_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,221},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>dark_elf_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,221},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>dark_elf_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>dark_elf_chest_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>dark_elf_damaget_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{57,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,78}}</string>
                <key>sourceSize</key>
                <string>{57,78}</string>
            </dict>
            <key>dark_elf_damaget_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,78}}</string>
                <key>sourceSize</key>
                <string>{57,78}</string>
            </dict>
            <key>dark_elf_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,176},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>dark_elf_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,58},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>dark_elf_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,117},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>dark_elf_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,58},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>dark_elf_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>dark_elf_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>dark_elf_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,162},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>dark_elf_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>dark_elf_lowert_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,221},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>dark_elf_lowert_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,221},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_elf.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:456dfeeac5b08a56231a106441deb4d6:1/1$</string>
            <key>textureFileName</key>
            <string>dark_elf.pvr.ccz</string>
        </dict>
    </dict>
</plist>
