<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>demon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{75,88}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{75,88}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>demon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,79},{75,84}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{75,84}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>demon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,88}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{75,88}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>demon_cursor_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,34},{38,22}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,35},{38,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>demon_cursor_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{56,30}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{56,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>demon_cursor_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,34},{38,18}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,39},{38,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_demon_action1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ui_demon_action2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,255},{86,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ui_demon_button_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ui_demon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,167},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ui_demon_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ui_demon_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,165},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{74,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ui_demon_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,79},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ui_demon_timer_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,425},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ui_demon_timer_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,343},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ui_demon_timer_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,343},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ui_demon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>demon_monster.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:900e5b2f8095d3dcbfb828b3ae77efe9:1/1$</string>
            <key>textureFileName</key>
            <string>demon_monster.pvr.ccz</string>
        </dict>
    </dict>
</plist>
