<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonpas_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,79},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>dragonpas_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,195},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>dragonpas_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,79},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>dragonpas_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,195},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>dragonpas_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,157},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>dragonpas_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,204},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>dragonpas_chin_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,177},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>dragonpas_chin_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,154},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>dragonpas_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>dragonpas_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>dragonpas_effect_boom_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,213},{45,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>dragonpas_effect_boom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,110},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>dragonpas_effect_boom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,157},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>dragonpas_effect_boom_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,110},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>dragonpas_effect_boom_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,166},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>dragonpas_effect_fire_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,27}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>dragonpas_effect_fire_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{54,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,39}}</string>
                <key>sourceSize</key>
                <string>{54,39}</string>
            </dict>
            <key>dragonpas_effect_fire_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,27}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>dragonpas_effect_fire_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,66},{54,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,39}}</string>
                <key>sourceSize</key>
                <string>{54,39}</string>
            </dict>
            <key>dragonpas_foot_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,204},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>dragonpas_foot_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,224},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>dragonpas_foot_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,79},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>dragonpas_foot_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,224},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>dragonpas_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,110},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>dragonpas_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,107},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>dragonpas_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,107},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>dragonpas_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>dragonpas_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,145},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>dragonpas_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,66},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>dragonpas_tail_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,79},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>dragonpas_tail_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,79},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>dragonpas_wings_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,34},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>dragonpas_wings_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonpas.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92facd1f96058436bee6a8b264e8a78b:1/1$</string>
            <key>textureFileName</key>
            <string>dragonpas.pvr.ccz</string>
        </dict>
    </dict>
</plist>
