<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>giantchick_body_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{177,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,183}}</string>
                <key>sourceSize</key>
                <string>{177,183}</string>
            </dict>
            <key>giantchick_body_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,365},{177,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,195}}</string>
                <key>sourceSize</key>
                <string>{177,195}</string>
            </dict>
            <key>giantchick_body_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,189},{213,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,174}}</string>
                <key>sourceSize</key>
                <string>{213,174}</string>
            </dict>
            <key>giantchick_body_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,544},{177,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,183}}</string>
                <key>sourceSize</key>
                <string>{177,183}</string>
            </dict>
            <key>giantchick_body_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{177,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,195}}</string>
                <key>sourceSize</key>
                <string>{177,195}</string>
            </dict>
            <key>giantchick_body_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{213,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,174}}</string>
                <key>sourceSize</key>
                <string>{213,174}</string>
            </dict>
            <key>giantchick_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{185,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,246}}</string>
                <key>sourceSize</key>
                <string>{185,246}</string>
            </dict>
            <key>giantchick_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,246}}</string>
                <key>sourceSize</key>
                <string>{185,246}</string>
            </dict>
            <key>giantchick_effect_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{111,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,186}}</string>
                <key>sourceSize</key>
                <string>{111,186}</string>
            </dict>
            <key>giantchick_effect_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,699},{84,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,135}}</string>
                <key>sourceSize</key>
                <string>{84,135}</string>
            </dict>
            <key>giantchick_effect_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,425},{111,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,186}}</string>
                <key>sourceSize</key>
                <string>{111,186}</string>
            </dict>
            <key>giantchick_effect_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,613},{84,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,135}}</string>
                <key>sourceSize</key>
                <string>{84,135}</string>
            </dict>
            <key>giantchick_eyes_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,776},{51,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,18}}</string>
                <key>sourceSize</key>
                <string>{51,18}</string>
            </dict>
            <key>giantchick_eyes_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,776},{51,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,18}}</string>
                <key>sourceSize</key>
                <string>{51,18}</string>
            </dict>
            <key>giantchick_eyes_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,723},{51,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,18}}</string>
                <key>sourceSize</key>
                <string>{51,18}</string>
            </dict>
            <key>giantchick_eyes_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,723},{51,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,18}}</string>
                <key>sourceSize</key>
                <string>{51,18}</string>
            </dict>
            <key>giantchick_eyes_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,544},{51,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,18}}</string>
                <key>sourceSize</key>
                <string>{51,18}</string>
            </dict>
            <key>giantchick_eyes_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,365},{51,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,18}}</string>
                <key>sourceSize</key>
                <string>{51,18}</string>
            </dict>
            <key>giantchick_foot_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,239},{48,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,75}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>giantchick_foot_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,791},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,54}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
            <key>giantchick_foot_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,189},{48,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,75}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>giantchick_foot_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,791},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,54}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
            <key>giantchick_wings_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,785},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>giantchick_wings_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,723},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>giantchick_wings_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,723},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>giantchick_wings_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,785},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>giantchick_wings_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,357},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>giantchick_wings_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,289},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>giantchick.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eee777eddcbf2812f9dcf42fc226610e:1/1$</string>
            <key>textureFileName</key>
            <string>giantchick.pvr.ccz</string>
        </dict>
    </dict>
</plist>
