<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goblin_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,117},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>goblin_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,106},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>goblin_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,95},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>goblin_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,84},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>goblin_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,160},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>goblin_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>goblin_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>goblin_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,84},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>goblin_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,99},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>goblin_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>goblin_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,58},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>goblin_head_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,58},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>goblin_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>goblin_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,43},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>goblin_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,43},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>goblin_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>goblin_head_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>goblin_pick_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,125},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>goblin_pick_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,122},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>goblin_pick_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,84},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>goblin_pick_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,111},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goblin.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4dc1e73e765bec8a68ea9ef5177c505:1/1$</string>
            <key>textureFileName</key>
            <string>goblin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
