<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gorgon_arms_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,400},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>gorgon_arms_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,400},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>gorgon_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,178},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>gorgon_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,219},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>gorgon_chest_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,263},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>gorgon_chest_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,400},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>gorgon_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{84,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>gorgon_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>gorgon_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{84,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{84,63}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>gorgon_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,94},{90,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,63}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>gorgon_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{88,67}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,67}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>gorgon_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,92},{84,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{84,63}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>gorgon_head_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,316},{82,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{82,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>gorgon_head_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>gorgon_head_left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,335},{93,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,75}}</string>
                <key>sourceSize</key>
                <string>{93,75}</string>
            </dict>
            <key>gorgon_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,230},{84,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{84,63}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>gorgon_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{90,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,63}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>gorgon_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{88,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,67}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>gorgon_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,92},{84,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{84,63}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>gorgon_head_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,430},{82,69}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>gorgon_head_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>gorgon_head_right_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,240},{93,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,75}}</string>
                <key>sourceSize</key>
                <string>{93,75}</string>
            </dict>
            <key>gorgon_lower_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,429},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>gorgon_lower_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,178},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>gorgon_lower_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,429},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>gorgon_lower_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,186},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>gorgon_tail_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,301},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>gorgon_tail_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,178},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>gorgon_tail_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,186},{45,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,27}}</string>
                <key>sourceSize</key>
                <string>{45,27}</string>
            </dict>
            <key>gorgon_tail_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,473},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>gorgon_tail_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,263},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>gorgon_tail_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,222},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>gorgon_tail_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,186},{45,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,27}}</string>
                <key>sourceSize</key>
                <string>{45,27}</string>
            </dict>
            <key>gorgon_tail_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,473},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gorgon.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fec513fee52ba1b597a11ad45c61b0fb:1/1$</string>
            <key>textureFileName</key>
            <string>gorgon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
