<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>high_elf__arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,183},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>high_elf_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,149},{15,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,6}}</string>
                <key>sourceSize</key>
                <string>{15,6}</string>
            </dict>
            <key>high_elf_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,171},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>high_elf_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,169},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>high_elf_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,220},{15,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,6}}</string>
                <key>sourceSize</key>
                <string>{15,6}</string>
            </dict>
            <key>high_elf_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,157},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>high_elf_body_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,220},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>high_elf_body_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,173},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>high_elf_body_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,114},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>high_elf_body_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,229},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>high_elf_body_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,143},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>high_elf_body_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,117},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>high_elf_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>high_elf_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>high_elf_head_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>high_elf_head_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>high_elf_head_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,64},{63,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>high_elf_head_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{63,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>high_elf_head_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,61},{63,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>high_elf_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,117},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>high_elf_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,173},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>high_elf_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>high_elf_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>high_elf_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,120},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>high_elf_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,67},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>high_elf_sword_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,229},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>high_elf_sword_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,149},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>high_elf_sword_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,229},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>high_elf_sword_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,229},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>high_elf_sword_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,149},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>high_elf_sword_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>high_elf.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd00b3576f0193984db6700a269ed5c0:1/1$</string>
            <key>textureFileName</key>
            <string>high_elf.pvr.ccz</string>
        </dict>
    </dict>
</plist>
