<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hyunmoo_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,82},{69,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,42}}</string>
                <key>sourceSize</key>
                <string>{69,42}</string>
            </dict>
            <key>hyunmoo_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{69,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,42}}</string>
                <key>sourceSize</key>
                <string>{69,42}</string>
            </dict>
            <key>hyunmoo_chin_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,167},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>hyunmoo_chin_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,126},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>hyunmoo_chin_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,108},{57,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,24}}</string>
                <key>sourceSize</key>
                <string>{57,24}</string>
            </dict>
            <key>hyunmoo_chin_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,134},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>hyunmoo_chin_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>hyunmoo_chin_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,82},{57,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,24}}</string>
                <key>sourceSize</key>
                <string>{57,24}</string>
            </dict>
            <key>hyunmoo_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,78}}</string>
                <key>sourceSize</key>
                <string>{114,78}</string>
            </dict>
            <key>hyunmoo_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,78}}</string>
                <key>sourceSize</key>
                <string>{114,78}</string>
            </dict>
            <key>hyunmoo_foot_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,55},{51,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,12}}</string>
                <key>sourceSize</key>
                <string>{51,12}</string>
            </dict>
            <key>hyunmoo_foot_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{51,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,12}}</string>
                <key>sourceSize</key>
                <string>{51,12}</string>
            </dict>
            <key>hyunmoo_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>hyunmoo_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,246},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>hyunmoo_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,219},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>hyunmoo_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,169},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>hyunmoo_head_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,246},{48,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>hyunmoo_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,170},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>hyunmoo_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>hyunmoo_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,202},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>hyunmoo_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,117},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>hyunmoo_head_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,214},{48,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>hyunmoo_neck_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>hyunmoo_neck_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,126},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>hyunmoo_neck_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,161},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>hyunmoo_neck_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,82},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>hyunmoo_snake_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,278},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>hyunmoo_snake_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,263},{30,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,39}</string>
            </dict>
            <key>hyunmoo_snake_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,228},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>hyunmoo_snake_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,263},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>hyunmoo_snake_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{30,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,39}</string>
            </dict>
            <key>hyunmoo_snake_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,193},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hyunmoo.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fa6c9447e6f239164185b4723feed55:1/1$</string>
            <key>textureFileName</key>
            <string>hyunmoo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
