<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>CD_UI_breachofcontract_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,1264},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_breachofcontract_button_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,1465},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_button_cancel_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,718},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_cancel_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1070},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_cancel_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1128},{131,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,55}}</string>
			<key>sourceSize</key>
			<string>{131,55}</string>
		</dict>
		<key>CD_UI_button_confirmation_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{855,398},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_confirmation_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1012},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_enchant_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1377},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_enchant_button_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,1368},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_encyclopedia_adventure_button_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,303},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_card_trap_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,328},{108,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,107}}</string>
			<key>sourceSize</key>
			<string>{108,107}</string>
		</dict>
		<key>CD_UI_encyclopedia_compensation_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,153},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_compensation_button_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,82},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_trap_use_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,325},{85,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,28}}</string>
			<key>sourceSize</key>
			<string>{85,28}</string>
		</dict>
		<key>CD_UI_encyclopedia_trap_use_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,238},{85,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,28}}</string>
			<key>sourceSize</key>
			<string>{85,28}</string>
		</dict>
		<key>CD_UI_gotcha_confirmation_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1273},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_gotcha_confirmation_button_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,1268},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_close_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1185},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_close_button_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1579},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_contract_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,1165},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_contract_button_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1481},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_reorder_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,1160},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_reorder_button_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1403},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_sell_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,1061},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_sell_button_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,1367},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_skip_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,84},{145,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,70}}</string>
			<key>sourceSize</key>
			<string>{145,70}</string>
		</dict>
		<key>CD_UI_popup_button_cancel_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,656},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_cancel_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,954},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_confirmation_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{855,398},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_confirmation_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1012},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_reinforcement_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,1056},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_reinforcement_button_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,1269},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_result_adventure_lose_title_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,993},{235,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,61}}</string>
			<key>sourceSize</key>
			<string>{235,61}</string>
		</dict>
		<key>CD_UI_result_adventure_win_title_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,1000},{233,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,59}}</string>
			<key>sourceSize</key>
			<string>{233,59}</string>
		</dict>
		<key>CD_UI_result_button_confirmation_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,594},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_result_button_confirmation_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,896},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_result_lose_title_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,524},{187,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,79}}</string>
			<key>sourceSize</key>
			<string>{187,79}</string>
		</dict>
		<key>CD_UI_result_win_title_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,713},{188,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,78}}</string>
			<key>sourceSize</key>
			<string>{188,78}</string>
		</dict>
		<key>CD_UI_slot_lever_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,374},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>CD_UI_trab_card_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1049},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,776},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_02_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,769},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_03_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,825},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_04_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,552},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_05_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,545},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_06_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,601},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_07_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,328},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_08_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,377},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_09_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,153},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_auto_select_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,1160},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>CD_auto_select_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,437},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>dungeon_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,162},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>dungeon_button_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,394},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>dungeon_clear_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,2},{394,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{394,77}}</string>
			<key>sourceSize</key>
			<string>{394,77}</string>
		</dict>
		<key>foundinthedungeon_title_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{479,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{479,78}}</string>
			<key>sourceSize</key>
			<string>{479,78}</string>
		</dict>
		<key>newepisode_later_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,82},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>newepisode_later_button_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,318},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>newepisode_title_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,903},{237,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,77}}</string>
			<key>sourceSize</key>
			<string>{237,77}</string>
		</dict>
		<key>newepisode_watchnow_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,318},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_button_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,238},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_button_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,242},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_title_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,82},{303,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{303,69}}</string>
			<key>sourceSize</key>
			<string>{303,69}</string>
		</dict>
		<key>talk_event_butoon_no_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,532},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_no_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,838},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_yes_00_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,470},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_yes_01_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,780},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>title_logo_cc.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,81},{372,245}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{372,245}}</string>
			<key>sourceSize</key>
			<string>{372,245}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>local_cc.pvr.ccz</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2e35859950939916b592e57b2ebcfe9e:1/1$</string>
		<key>textureFileName</key>
		<string>local_cc.pvr.ccz</string>
	</dict>
</dict>
</plist>
