<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>CD_UI_breachofcontract_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,1215},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_breachofcontract_button_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,1451},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_button_cancel_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,1104},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_cancel_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1876},{131,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,55}}</string>
			<key>sourceSize</key>
			<string>{131,55}</string>
		</dict>
		<key>CD_UI_button_cancel_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,572},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_confirmation_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,439},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_confirmation_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,963},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_enchant_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,1312},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_enchant_button_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,1353},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_encyclopedia_adventure_button_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1241},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_card_trap_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,769},{108,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,107}}</string>
			<key>sourceSize</key>
			<string>{108,107}</string>
		</dict>
		<key>CD_UI_encyclopedia_compensation_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,1200},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_compensation_button_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1200},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_trap_use_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,1485},{85,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,28}}</string>
			<key>sourceSize</key>
			<string>{85,28}</string>
		</dict>
		<key>CD_UI_encyclopedia_trap_use_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,1455},{85,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,28}}</string>
			<key>sourceSize</key>
			<string>{85,28}</string>
		</dict>
		<key>CD_UI_gotcha_confirmation_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,1151},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_gotcha_confirmation_button_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{798,1314},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_close_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,1096},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_close_button_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1490},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_contract_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,1047},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_contract_button_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,1255},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_reorder_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1386},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_reorder_button_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,1417},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_sell_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1282},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_sell_button_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,1319},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_skip_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,151},{145,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,70}}</string>
			<key>sourceSize</key>
			<string>{145,70}</string>
		</dict>
		<key>CD_UI_popup_button_cancel_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,564},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_cancel_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,830},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_confirmation_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,431},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_confirmation_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,971},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_reinforcement_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,1094},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_reinforcement_button_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,1237},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_result_adventure_lose_title_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{601,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{601,26}}</string>
			<key>sourceSize</key>
			<string>{601,26}</string>
		</dict>
		<key>CD_UI_result_adventure_win_title_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,500},{426,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{426,26}}</string>
			<key>sourceSize</key>
			<string>{426,26}</string>
		</dict>
		<key>CD_UI_result_button_confirmation_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,306},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_result_button_confirmation_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,838},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_result_lose_title_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,338},{429,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{429,92}}</string>
			<key>sourceSize</key>
			<string>{429,92}</string>
		</dict>
		<key>CD_UI_result_win_title_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,2},{398,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{398,48}}</string>
			<key>sourceSize</key>
			<string>{398,48}</string>
		</dict>
		<key>CD_UI_slot_lever_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1421},{118,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,28}}</string>
			<key>sourceSize</key>
			<string>{118,28}</string>
		</dict>
		<key>CD_UI_trab_card_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,991},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,823},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_02_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,976},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_03_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,767},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_04_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,599},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_05_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,752},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_06_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,543},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_07_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,528},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_08_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,375},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_09_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,151},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_auto_select_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,986},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>CD_auto_select_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,878},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>dungeon_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,1663},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>dungeon_button_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1588},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>dungeon_clear_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,52},{336,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{336,97}}</string>
			<key>sourceSize</key>
			<string>{336,97}</string>
		</dict>
		<key>foundinthedungeon_title_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,30},{598,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{598,141}}</string>
			<key>sourceSize</key>
			<string>{598,141}</string>
		</dict>
		<key>newepisode_later_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{798,1532},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>newepisode_later_button_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1665},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>newepisode_title_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{446,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{446,40}}</string>
			<key>sourceSize</key>
			<string>{446,40}</string>
		</dict>
		<key>newepisode_watchnow_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,1530},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_button_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,410},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_button_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1743},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_title_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,452},{443,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,46}}</string>
			<key>sourceSize</key>
			<string>{443,46}</string>
		</dict>
		<key>talk_event_butoon_no_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,173},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_no_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,697},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_yes_00_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,298},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_yes_01_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,705},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>title_logo_gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,173},{532,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{532,235}}</string>
			<key>sourceSize</key>
			<string>{532,235}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>local_gm.pvr.ccz</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fcd5eb35265cb9a115b784120a83cc51:1/1$</string>
		<key>textureFileName</key>
		<string>local_gm.pvr.ccz</string>
	</dict>
</dict>
</plist>
