<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>CD_UI_breachofcontract_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{537,1044},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_breachofcontract_button_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1631},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_button_cancel_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,1336},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_cancel_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1350},{131,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,55}}</string>
			<key>sourceSize</key>
			<string>{131,55}</string>
		</dict>
		<key>CD_UI_button_cancel_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1114},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_confirmation_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,1087},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_confirmation_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1292},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_enchant_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,904},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_enchant_button_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,1480},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_encyclopedia_adventure_button_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,84},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_card_trap_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,143},{108,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,107}}</string>
			<key>sourceSize</key>
			<string>{108,107}</string>
		</dict>
		<key>CD_UI_encyclopedia_compensation_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,43},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_compensation_button_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,2},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_trap_use_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,1099},{85,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,28}}</string>
			<key>sourceSize</key>
			<string>{85,28}</string>
		</dict>
		<key>CD_UI_encyclopedia_trap_use_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,468},{85,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,28}}</string>
			<key>sourceSize</key>
			<string>{85,28}</string>
		</dict>
		<key>CD_UI_gotcha_confirmation_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{553,826},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_gotcha_confirmation_button_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,1340},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_close_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,686},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_close_button_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,1339},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_contract_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{553,608},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_contract_button_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,1241},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_reorder_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,468},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_reorder_button_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,1143},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_sell_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,390},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_sell_button_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1262},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_skip_button_00_cs.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,496},{145,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,70}}</string>
			<key>sourceSize</key>
			<string>{145,70}</string>
		</dict>
		<key>CD_UI_inventory_skip_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,496},{145,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,70}}</string>
			<key>sourceSize</key>
			<string>{145,70}</string>
		</dict>
		<key>CD_UI_popup_button_cancel_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,966},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_cancel_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,1278},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_confirmation_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,1087},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_confirmation_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1292},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_reinforcement_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,125},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_reinforcement_button_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,1122},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_result_adventure_lose_title_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,390},{551,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{551,26}}</string>
			<key>sourceSize</key>
			<string>{551,26}</string>
		</dict>
		<key>CD_UI_result_adventure_win_title_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,468},{426,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{426,26}}</string>
			<key>sourceSize</key>
			<string>{426,26}</string>
		</dict>
		<key>CD_UI_result_button_confirmation_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1052},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_result_button_confirmation_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1234},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_result_lose_title_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,418},{473,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{473,48}}</string>
			<key>sourceSize</key>
			<string>{473,48}</string>
		</dict>
		<key>CD_UI_result_win_title_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,565},{248,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,48}}</string>
			<key>sourceSize</key>
			<string>{248,48}</string>
		</dict>
		<key>CD_UI_slot_lever_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{985,1067},{98,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,28}}</string>
			<key>sourceSize</key>
			<string>{98,28}</string>
		</dict>
		<key>CD_UI_trab_card_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1616},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1407},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_02_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1392},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_03_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1168},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_04_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,944},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_05_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,720},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_06_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,496},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_07_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{761,879},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_08_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,615},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_09_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,229},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_auto_select_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,360},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>CD_auto_select_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,252},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>dungeon_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,972},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>dungeon_button_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,954},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>dungeon_clear_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,418},{413,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,74}}</string>
			<key>sourceSize</key>
			<string>{413,74}</string>
		</dict>
		<key>foundinthedungeon_title_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{798,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{798,139}}</string>
			<key>sourceSize</key>
			<string>{798,139}</string>
		</dict>
		<key>newepisode_later_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,892},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>newepisode_later_button_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,833},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>newepisode_title_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,615},{450,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{450,35}}</string>
			<key>sourceSize</key>
			<string>{450,35}</string>
		</dict>
		<key>newepisode_watchnow_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,812},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_button_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,732},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_button_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,821},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_title_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,493},{253,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,70}}</string>
			<key>sourceSize</key>
			<string>{253,70}</string>
		</dict>
		<key>talk_event_butoon_no_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,688},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_no_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,1220},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_yes_00_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{413,555},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_yes_01_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1176},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>title_logo_es.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,143},{669,245}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{669,245}}</string>
			<key>sourceSize</key>
			<string>{669,245}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>local_es.pvr.ccz</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c26182e7e171afe2ecc8ba106101560e:1/1$</string>
		<key>textureFileName</key>
		<string>local_es.pvr.ccz</string>
	</dict>
</dict>
</plist>
