<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>CD_UI_breachofcontract_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,1380},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_breachofcontract_button_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,1505},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_button_cancel_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,908},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_cancel_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,966},{131,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,55}}</string>
			<key>sourceSize</key>
			<string>{131,55}</string>
		</dict>
		<key>CD_UI_button_cancel_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,788},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_confirmation_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,742},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_confirmation_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,691},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_enchant_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,1276},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_enchant_button_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1658},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_encyclopedia_adventure_button_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1008},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_card_trap_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,140},{108,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,107}}</string>
			<key>sourceSize</key>
			<string>{108,107}</string>
		</dict>
		<key>CD_UI_encyclopedia_compensation_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,607},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_compensation_button_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,386},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_trap_use_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,592},{85,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,28}}</string>
			<key>sourceSize</key>
			<string>{85,28}</string>
		</dict>
		<key>CD_UI_encyclopedia_trap_use_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,505},{85,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,28}}</string>
			<key>sourceSize</key>
			<string>{85,28}</string>
		</dict>
		<key>CD_UI_gotcha_confirmation_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,1303},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_gotcha_confirmation_button_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1560},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_close_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,1276},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_close_button_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1462},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_contract_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1358},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_contract_button_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1457},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_reorder_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1239},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_reorder_button_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,1494},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_sell_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,1199},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_sell_button_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,1484},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_skip_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,462},{145,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,70}}</string>
			<key>sourceSize</key>
			<string>{145,70}</string>
		</dict>
		<key>CD_UI_popup_button_cancel_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,726},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_cancel_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,691},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_confirmation_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,629},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_confirmation_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,875},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_reinforcement_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,1095},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_reinforcement_button_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,1407},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_result_adventure_lose_title_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,384},{476,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{476,26}}</string>
			<key>sourceSize</key>
			<string>{476,26}</string>
		</dict>
		<key>CD_UI_result_adventure_win_title_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,358},{426,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{426,26}}</string>
			<key>sourceSize</key>
			<string>{426,26}</string>
		</dict>
		<key>CD_UI_result_button_confirmation_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,567},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_result_button_confirmation_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,850},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_result_lose_title_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,412},{335,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,48}}</string>
			<key>sourceSize</key>
			<string>{335,48}</string>
		</dict>
		<key>CD_UI_result_win_title_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,2},{298,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,54}}</string>
			<key>sourceSize</key>
			<string>{298,54}</string>
		</dict>
		<key>CD_UI_slot_lever_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,249},{98,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,28}}</string>
			<key>sourceSize</key>
			<string>{98,28}</string>
		</dict>
		<key>CD_UI_trab_card_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,1052},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1134},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_02_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,871},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_03_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,828},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_04_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,910},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_05_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,647},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_06_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,686},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_07_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,423},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_08_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,462},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_09_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,58},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_auto_select_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,1131},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>CD_auto_select_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,1023},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>dungeon_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,412},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>dungeon_button_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,568},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>dungeon_clear_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,386},{420,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{420,35}}</string>
			<key>sourceSize</key>
			<string>{420,35}</string>
		</dict>
		<key>foundinthedungeon_title_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{698,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{698,136}}</string>
			<key>sourceSize</key>
			<string>{698,136}</string>
		</dict>
		<key>newepisode_later_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,590},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>newepisode_later_button_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,492},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>newepisode_title_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,322},{440,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{440,34}}</string>
			<key>sourceSize</key>
			<string>{440,34}</string>
		</dict>
		<key>newepisode_watchnow_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,457},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_button_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,140},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_button_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,324},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_title_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,282},{440,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{440,38}}</string>
			<key>sourceSize</key>
			<string>{440,38}</string>
		</dict>
		<key>talk_event_butoon_no_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,505},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_no_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,191},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_yes_00_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,609},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_yes_01_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,58},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>title_logo_fr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,140},{502,242}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{502,242}}</string>
			<key>sourceSize</key>
			<string>{502,242}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>local_fr.pvr.ccz</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:81a9931e87be822a7bd83557b3d8b21f:1/1$</string>
		<key>textureFileName</key>
		<string>local_fr.pvr.ccz</string>
	</dict>
</dict>
</plist>
