<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>CD_UI_breachofcontract_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,1275},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_breachofcontract_button_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1585},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_button_cancel_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,1545},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_cancel_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,1575},{131,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,55}}</string>
			<key>sourceSize</key>
			<string>{131,55}</string>
		</dict>
		<key>CD_UI_button_cancel_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1479},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_confirmation_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1417},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_button_confirmation_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1599},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_enchant_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,1237},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_enchant_button_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,1537},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_encyclopedia_adventure_button_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,724},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_card_trap_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,1020},{108,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,107}}</string>
			<key>sourceSize</key>
			<string>{108,107}</string>
		</dict>
		<key>CD_UI_encyclopedia_compensation_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,683},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_compensation_button_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,1234},{219,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,39}}</string>
			<key>sourceSize</key>
			<string>{219,39}</string>
		</dict>
		<key>CD_UI_encyclopedia_trap_use_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,236},{85,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,28}}</string>
			<key>sourceSize</key>
			<string>{85,28}</string>
		</dict>
		<key>CD_UI_encyclopedia_trap_use_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,149},{85,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,28}}</string>
			<key>sourceSize</key>
			<string>{85,28}</string>
		</dict>
		<key>CD_UI_gotcha_confirmation_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1285},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_gotcha_confirmation_button_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,1477},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_close_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1181},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_close_button_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1487},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_contract_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1077},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_contract_button_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,1439},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_reorder_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,973},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_reorder_button_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{714,1379},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_sell_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,869},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_sell_button_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1389},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_inventory_skip_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,1237},{145,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,70}}</string>
			<key>sourceSize</key>
			<string>{145,70}</string>
		</dict>
		<key>CD_UI_popup_button_cancel_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1355},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_cancel_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1541},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_confirmation_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1417},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_popup_button_confirmation_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1599},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_reinforcement_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,765},{216,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,102}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_reinforcement_button_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,1341},{216,96}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{216,96}}</string>
			<key>sourceSize</key>
			<string>{216,102}</string>
		</dict>
		<key>CD_UI_result_adventure_lose_title_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,540},{411,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{411,70}}</string>
			<key>sourceSize</key>
			<string>{411,70}</string>
		</dict>
		<key>CD_UI_result_adventure_win_title_en.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,612},{358,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{358,69}}</string>
			<key>sourceSize</key>
			<string>{358,69}</string>
		</dict>
		<key>CD_UI_result_button_confirmation_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1293},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_result_button_confirmation_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,1531},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>CD_UI_result_lose_title_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,2},{247,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{247,70}}</string>
			<key>sourceSize</key>
			<string>{247,70}</string>
		</dict>
		<key>CD_UI_result_win_title_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{958,1234},{176,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,64}}</string>
			<key>sourceSize</key>
			<string>{176,64}</string>
		</dict>
		<key>CD_UI_slot_lever_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,74},{73,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,33}}</string>
			<key>sourceSize</key>
			<string>{73,33}</string>
		</dict>
		<key>CD_UI_trab_card_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,1013},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,1010},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_02_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,789},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_03_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,786},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_04_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,565},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_05_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,562},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_06_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,341},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_07_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,338},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_08_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,117},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_UI_trab_card_09_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,74},{222,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,262}}</string>
			<key>sourceSize</key>
			<string>{222,262}</string>
		</dict>
		<key>CD_auto_select_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,1589},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>CD_auto_select_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,1129},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>dungeon_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,923},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>dungeon_button_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1155},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>dungeon_clear_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,470},{450,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{450,68}}</string>
			<key>sourceSize</key>
			<string>{450,68}</string>
		</dict>
		<key>foundinthedungeon_title_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{761,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{761,113}}</string>
			<key>sourceSize</key>
			<string>{761,113}</string>
		</dict>
		<key>newepisode_later_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,843},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>newepisode_later_button_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1079},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>newepisode_title_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,673},{345,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,109}}</string>
			<key>sourceSize</key>
			<string>{345,109}</string>
		</dict>
		<key>newepisode_watchnow_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,763},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_button_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,683},{131,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,78}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_button_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1003},{131,74}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,74}}</string>
			<key>sourceSize</key>
			<string>{131,78}</string>
		</dict>
		<key>notoriously_title_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,387},{450,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{450,81}}</string>
			<key>sourceSize</key>
			<string>{450,81}</string>
		</dict>
		<key>talk_event_butoon_no_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1231},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_no_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,1412},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_yes_00_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,540},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>talk_event_butoon_yes_01_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,1473},{131,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>title_logo_th.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,117},{475,268}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{475,268}}</string>
			<key>sourceSize</key>
			<string>{475,268}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>local_th.pvr.ccz</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e903ac5c2a94814305f3049b7f82e712:1/1$</string>
		<key>textureFileName</key>
		<string>local_th.pvr.ccz</string>
	</dict>
</dict>
</plist>
