<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,268},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>bonus_pop_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{537,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,398}}</string>
                <key>sourceSize</key>
                <string>{537,398}</string>
            </dict>
            <key>bonus_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{236,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,55}}</string>
                <key>sourceSize</key>
                <string>{236,55}</string>
            </dict>
            <key>bonus_title_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{263,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,41}}</string>
                <key>sourceSize</key>
                <string>{263,41}</string>
            </dict>
            <key>bonus_yes_button_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,135},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>bonus_yes_button_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>bonus_yes_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,461},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>bonus_yes_button_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,328},{131,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87ab7ed508aded6e1787e756bc1bbfa2:1/1$</string>
            <key>textureFileName</key>
            <string>magic.pvr.ccz</string>
        </dict>
    </dict>
</plist>
