<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snake_body_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,409},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
            <key>snake_body_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,279},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{27,39}</string>
            </dict>
            <key>snake_body_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,468},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>snake_body_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>snake_body_back_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,444},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>snake_body_back_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,444},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>snake_body_back_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,374},{24,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,45}}</string>
                <key>sourceSize</key>
                <string>{24,45}</string>
            </dict>
            <key>snake_body_back_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{24,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,62}}</string>
                <key>sourceSize</key>
                <string>{24,62}</string>
            </dict>
            <key>snake_body_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,374},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
            <key>snake_body_front_00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,444},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
            <key>snake_body_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,238},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{27,39}</string>
            </dict>
            <key>snake_body_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,370},{48,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,39}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>snake_body_front_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,320},{48,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,39}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>snake_body_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,444},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
            <key>snake_body_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,409},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>snake_body_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>snake_body_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{75,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,33}}</string>
                <key>sourceSize</key>
                <string>{75,33}</string>
            </dict>
            <key>snake_body_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
            <key>snake_body_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,374},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>snake_body_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,339},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>snake_body_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{75,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,33}}</string>
                <key>sourceSize</key>
                <string>{75,33}</string>
            </dict>
            <key>snake_chin_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,237},{36,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,6}}</string>
                <key>sourceSize</key>
                <string>{36,6}</string>
            </dict>
            <key>snake_chin_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,199},{36,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,6}}</string>
                <key>sourceSize</key>
                <string>{36,6}</string>
            </dict>
            <key>snake_damage_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>snake_damage_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,91}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>snake_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,70},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>snake_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>snake_eyes_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,212},{21,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,6}}</string>
                <key>sourceSize</key>
                <string>{21,6}</string>
            </dict>
            <key>snake_eyes_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,215},{21,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,6}}</string>
                <key>sourceSize</key>
                <string>{21,6}</string>
            </dict>
            <key>snake_head_attack_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>snake_head_attack_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,199},{69,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,39}}</string>
                <key>sourceSize</key>
                <string>{69,39}</string>
            </dict>
            <key>snake_head_attack_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,240},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>snake_head_attack_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,339},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>snake_head_attack_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,304},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>snake_head_attack_rightt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,220},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>snake_head_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{69,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,39}}</string>
                <key>sourceSize</key>
                <string>{69,39}</string>
            </dict>
            <key>snake_head_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,136},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>snake_head_damage_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,73},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>snake_head_damage_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,284},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>snake_head_damage_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>snake_head_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,179},{69,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,39}}</string>
                <key>sourceSize</key>
                <string>{69,39}</string>
            </dict>
            <key>snake_head_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,138},{69,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,39}}</string>
                <key>sourceSize</key>
                <string>{69,39}</string>
            </dict>
            <key>snake_head_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>snake_head_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>snake_neck_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,137},{30,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,12}}</string>
                <key>sourceSize</key>
                <string>{30,12}</string>
            </dict>
            <key>snake_neck_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,183},{27,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,15}}</string>
                <key>sourceSize</key>
                <string>{27,15}</string>
            </dict>
            <key>snake_neck_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,105},{30,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,12}}</string>
                <key>sourceSize</key>
                <string>{30,12}</string>
            </dict>
            <key>snake_neck_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,192},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>snake_neck_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,73},{30,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,12}}</string>
                <key>sourceSize</key>
                <string>{30,12}</string>
            </dict>
            <key>snake_neck_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,169},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>snake_tongue_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,158},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>snake_tongue_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,138},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>snake_tongue_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,169},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_snake_HD.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ba98dfc0c410d17f11ecf77c0c70680:1/1$</string>
            <key>textureFileName</key>
            <string>monster_snake_HD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
