<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reddevil_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,423},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>reddevil_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,440},{24,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,12}}</string>
                <key>sourceSize</key>
                <string>{24,12}</string>
            </dict>
            <key>reddevil_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,491},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>reddevil_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,433},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>reddevil_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,407},{24,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,12}}</string>
                <key>sourceSize</key>
                <string>{24,12}</string>
            </dict>
            <key>reddevil_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>reddevil_body_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,479},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>reddevil_body_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,453},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>reddevil_body_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>reddevil_body_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,423},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>reddevil_body_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>reddevil_body_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,421},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>reddevil_body_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>reddevil_body_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,450},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>reddevil_body_righ_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,395},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>reddevil_body_righ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,482},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>reddevil_damage_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{81,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{81,57}</string>
            </dict>
            <key>reddevil_damage_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{81,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{81,57}</string>
            </dict>
            <key>reddevil_damage_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{81,57}</string>
            </dict>
            <key>reddevil_head_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{51,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,36}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>reddevil_head_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,161},{51,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,36}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>reddevil_head_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,108},{51,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,36}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>reddevil_head_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,55},{51,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,36}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>reddevil_head_front_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{51,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,36}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>reddevil_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,376},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>reddevil_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>reddevil_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,329},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>reddevil_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>reddevil_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,282},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>reddevil_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>reddevil_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>reddevil_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>reddevil_wings_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,211},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>reddevil_wings_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,179},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>reddevil_wings_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,475},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>reddevil_wings_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,449},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>weapon_trident_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,271},{9,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,42}}</string>
                <key>sourceSize</key>
                <string>{9,42}</string>
            </dict>
            <key>weapon_trident_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,260},{9,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,42}}</string>
                <key>sourceSize</key>
                <string>{9,42}</string>
            </dict>
            <key>weapon_trident_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,357},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>weapon_trident_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,237},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>weapon_trident_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,319},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>weapon_trident_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,281},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>weapon_trident_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,214},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>weapon_trident_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,243},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_reddevil_HD.pvr.ccz</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:259f8f41bd7a19af64767d431264f176:1/1$</string>
            <key>textureFileName</key>
            <string>monster_reddevil_HD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
