<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thief_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,146},{15,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,12}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>thief_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,25},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>thief_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,116},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>thief_arms_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,115},{29,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,15}}</string>
                <key>sourceSize</key>
                <string>{29,15}</string>
            </dict>
            <key>thief_arms_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,282},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>thief_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,148},{15,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,12}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>thief_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>thief_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,84},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>thief_arms_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,84},{29,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,15}}</string>
                <key>sourceSize</key>
                <string>{29,15}</string>
            </dict>
            <key>thief_arms_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,259},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>thief_chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,61},{27,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,15}}</string>
                <key>sourceSize</key>
                <string>{27,15}</string>
            </dict>
            <key>thief_damage_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,78}}</string>
                <key>sourceSize</key>
                <string>{69,78}</string>
            </dict>
            <key>thief_damage_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>thief_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{63,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,80}}</string>
                <key>sourceSize</key>
                <string>{63,80}</string>
            </dict>
            <key>thief_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{63,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,80}}</string>
                <key>sourceSize</key>
                <string>{63,80}</string>
            </dict>
            <key>thief_head_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>thief_head_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,162},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>thief_head_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,450},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>thief_head_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,388},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>thief_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,326},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>thief_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,326},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>thief_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>thief_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>thief_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>thief_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>thief_leg_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,61},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>thief_leg_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,299},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>thief_leg_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,276},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>thief_leg_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,250},{33,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>thief_leg_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,224},{33,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>thief_leg_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,224},{33,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>weapon_dagger_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,124},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>weapon_dagger_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,107},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>weapon_dagger_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,90},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>weapon_dagger_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,305},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_thief_HD.pvr.ccz</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf9a37380d593fbaaa20e514c97cb83e:1/1$</string>
            <key>textureFileName</key>
            <string>monster_thief_HD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
