<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mimic_attack_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{67,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,105}}</string>
                <key>sourceSize</key>
                <string>{67,105}</string>
            </dict>
            <key>mimic_attack_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,289},{67,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>mimic_attack_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{67,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,105}}</string>
                <key>sourceSize</key>
                <string>{67,105}</string>
            </dict>
            <key>mimic_attack_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,150},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>mimic_attack_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{90,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,127}}</string>
                <key>sourceSize</key>
                <string>{90,127}</string>
            </dict>
            <key>mimic_attack_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,346},{75,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,84}}</string>
                <key>sourceSize</key>
                <string>{75,84}</string>
            </dict>
            <key>mimic_attack_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,127}}</string>
                <key>sourceSize</key>
                <string>{90,127}</string>
            </dict>
            <key>mimic_attack_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,260},{75,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,84}}</string>
                <key>sourceSize</key>
                <string>{75,84}</string>
            </dict>
            <key>mimic_body_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,150},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,57}}</string>
                <key>sourceSize</key>
                <string>{67,57}</string>
            </dict>
            <key>mimic_body_damage_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,76},{67,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>mimic_body_damage_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{67,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>mimic_body_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,156},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>mimic_body_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,79},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>mimic_body_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,220},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,57}}</string>
                <key>sourceSize</key>
                <string>{67,57}</string>
            </dict>
            <key>mimic_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,324},{75,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>mimic_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,247},{75,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>mimic_damage_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,430},{67,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>mimic_damage_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>mimic_damage_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,432},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>mimic_damage_sweat_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,401},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>mimic_damage_sweat_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,474},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>mimic_damage_sweat_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,401},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>mimic_damage_sweat_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>mimic_eyes_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,432},{36,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,3}}</string>
                <key>sourceSize</key>
                <string>{36,3}</string>
            </dict>
            <key>mimic_eyes_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,233},{43,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,12}}</string>
                <key>sourceSize</key>
                <string>{43,12}</string>
            </dict>
            <key>mimic_eyes_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,247},{43,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,3}}</string>
                <key>sourceSize</key>
                <string>{43,3}</string>
            </dict>
            <key>mimic_eyes_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,233},{36,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,12}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>mimic_eyes_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,474},{36,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,12}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_mimic_HD.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aa2169a76e99d9b14c8b2aa7ff863a9:1/1$</string>
            <key>textureFileName</key>
            <string>monster_mimic_HD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
