<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lavas_piders_body_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>lavas_piders_body_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,126},{39,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,57}}</string>
                <key>sourceSize</key>
                <string>{39,57}</string>
            </dict>
            <key>lavas_piders_body_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,270},{57,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,39}}</string>
                <key>sourceSize</key>
                <string>{57,39}</string>
            </dict>
            <key>lavas_piders_body_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,239},{57,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,39}}</string>
                <key>sourceSize</key>
                <string>{57,39}</string>
            </dict>
            <key>lavas_piders_damage_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>lavas_piders_damage_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{75,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,69}}</string>
                <key>sourceSize</key>
                <string>{75,69}</string>
            </dict>
            <key>lavas_piders_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{89,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,51}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>lavas_piders_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,51}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>lavas_piders_head_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,318},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>lavas_piders_head_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,243},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>lavas_piders_head_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>lavas_piders_head_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,422},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>lavas_piders_head_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,356},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>lavas_piders_head_front_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,284},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>lavas_piders_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,284},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>lavas_piders_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>lavas_piders_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,349},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>lavas_piders_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,457},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>lavas_piders_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>lavas_piders_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,311},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>lavas_piders_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,280},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>lavas_piders_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,457},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>lavas_piders_leg_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,113},{72,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,45}}</string>
                <key>sourceSize</key>
                <string>{72,45}</string>
            </dict>
            <key>lavas_piders_leg_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,79},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>lavas_piders_leg_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{81,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,56}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>lavas_piders_leg_front_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,55},{75,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,56}}</string>
                <key>sourceSize</key>
                <string>{75,56}</string>
            </dict>
            <key>lavas_piders_leg_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,214},{47,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>lavas_piders_leg_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,155},{63,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,27}}</string>
                <key>sourceSize</key>
                <string>{63,27}</string>
            </dict>
            <key>lavas_piders_leg_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{60,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,27}}</string>
                <key>sourceSize</key>
                <string>{60,27}</string>
            </dict>
            <key>lavas_piders_leg_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,185},{47,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>lavas_piders_leg_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,126},{63,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,27}}</string>
                <key>sourceSize</key>
                <string>{63,27}</string>
            </dict>
            <key>lavas_piders_leg_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{60,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,27}}</string>
                <key>sourceSize</key>
                <string>{60,27}</string>
            </dict>
            <key>lavas_piders_web_effect_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,350},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>lavas_piders_web_effect_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,322},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>lavas_piders_web_effect_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,215},{53,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,62}}</string>
                <key>sourceSize</key>
                <string>{53,62}</string>
            </dict>
            <key>lavas_piders_web_effect_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,311},{25,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,37}}</string>
                <key>sourceSize</key>
                <string>{25,37}</string>
            </dict>
            <key>lavas_piders_web_effect_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,319},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>lavas_piders_web_effect_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,184},{53,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,62}}</string>
                <key>sourceSize</key>
                <string>{53,62}</string>
            </dict>
            <key>lavas_piders_web_effect_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lavas_piders_web_effect_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>lavas_piders_web_effect_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{62,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,53}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>lavas_piders_web_effect_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,388},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>lavas_piders_web_effect_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,387},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>lavas_piders_web_effect_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,160},{62,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,53}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_lava_spider_HD.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:598240cbb6571e10714fb579c097a054:1/1$</string>
            <key>textureFileName</key>
            <string>monster_lava_spider_HD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
