<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>succubus_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,156},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>succubus_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,361},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>succubus_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,21},{24,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,6}}</string>
                <key>sourceSize</key>
                <string>{24,6}</string>
            </dict>
            <key>succubus_arms_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,201},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>succubus_arms_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,37},{6,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,24}}</string>
                <key>sourceSize</key>
                <string>{6,24}</string>
            </dict>
            <key>succubus_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,45},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>succubus_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,181},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>succubus_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,13},{24,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,6}}</string>
                <key>sourceSize</key>
                <string>{24,6}</string>
            </dict>
            <key>succubus_arms_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,161},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>succubus_arms_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,29},{6,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,24}}</string>
                <key>sourceSize</key>
                <string>{6,24}</string>
            </dict>
            <key>succubus_body_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,315},{15,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,12}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>succubus_body_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,375},{15,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,12}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>succubus_damage_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,13},{87,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,72}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>succubus_damage_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>succubus_damage_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,57},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>succubus_head_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>succubus_head_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,240},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>succubus_head_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>succubus_head_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,222},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>succubus_head_front_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,190},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>succubus_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,342},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>succubus_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,315},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>succubus_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>succubus_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,324},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>succubus_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,290},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>succubus_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>succubus_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,272},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>succubus_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,263},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>succubus_leg_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,301},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>succubus_leg_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,281},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>succubus_leg_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,261},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>succubus_leg_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,241},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>succubus_leg_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,221},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>succubus_leg_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,179},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>succubus_leg_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,341},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>succubus_leg_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,321},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>succubus_whip_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,231},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>succubus_whip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,199},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>succubus_whip_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,128},{6,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,42}}</string>
                <key>sourceSize</key>
                <string>{6,42}</string>
            </dict>
            <key>succubus_whip_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,173},{15,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,69}}</string>
                <key>sourceSize</key>
                <string>{15,69}</string>
            </dict>
            <key>succubus_whip_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,158},{15,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,69}}</string>
                <key>sourceSize</key>
                <string>{15,69}</string>
            </dict>
            <key>succubus_whip_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,128},{9,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,72}}</string>
                <key>sourceSize</key>
                <string>{9,72}</string>
            </dict>
            <key>succubus_whip_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,107},{6,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,42}}</string>
                <key>sourceSize</key>
                <string>{6,42}</string>
            </dict>
            <key>succubus_whip_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,156},{15,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,69}}</string>
                <key>sourceSize</key>
                <string>{15,69}</string>
            </dict>
            <key>succubus_whip_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,139},{15,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,69}}</string>
                <key>sourceSize</key>
                <string>{15,69}</string>
            </dict>
            <key>succubus_whip_front_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,87},{9,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,72}}</string>
                <key>sourceSize</key>
                <string>{9,72}</string>
            </dict>
            <key>succubus_whip_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,60},{81,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,45}}</string>
                <key>sourceSize</key>
                <string>{81,45}</string>
            </dict>
            <key>succubus_whip_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,107},{72,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,49}}</string>
                <key>sourceSize</key>
                <string>{72,49}</string>
            </dict>
            <key>succubus_whip_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>succubus_whip_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,9}}</string>
                <key>sourceSize</key>
                <string>{98,9}</string>
            </dict>
            <key>succubus_whip_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,13},{81,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,45}}</string>
                <key>sourceSize</key>
                <string>{81,45}</string>
            </dict>
            <key>succubus_whip_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{72,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,49}}</string>
                <key>sourceSize</key>
                <string>{72,49}</string>
            </dict>
            <key>succubus_whip_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,175},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>succubus_whip_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,9}}</string>
                <key>sourceSize</key>
                <string>{98,9}</string>
            </dict>
            <key>succubus_wings_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>succubus_wings_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,376},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>succubus_wings_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,445},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>succubus_wings_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_succubus_HD.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36a72167f5d567ae169362c96ef64ced:1/1$</string>
            <key>textureFileName</key>
            <string>monster_succubus_HD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
