<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mummy_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,165},{24,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{24,15}</string>
            </dict>
            <key>mummy_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,172},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>mummy_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,172},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>mummy_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,172},{24,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{24,15}</string>
            </dict>
            <key>mummy_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,37},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>mummy_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,37},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>mummy_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,153},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>mummy_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,130},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>mummy_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>mummy_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>mummy_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,118},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>mummy_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,198},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>mummy_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,119},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>mummy_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,66},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>mummy_head_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,201},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>mummy_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,113},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>mummy_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,207},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>mummy_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,66},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>mummy_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,71},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>mummy_head_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>mummy_poison_cloud_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,60},{33,21}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{33,21}}</string>
                <key>sourceSize</key>
                <string>{69,45}</string>
            </dict>
            <key>mummy_poison_cloud_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,83},{45,27}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{45,27}}</string>
                <key>sourceSize</key>
                <string>{69,45}</string>
            </dict>
            <key>mummy_poison_cloud_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,37},{61,27}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{61,27}}</string>
                <key>sourceSize</key>
                <string>{69,45}</string>
            </dict>
            <key>mummy_poison_cloud_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{67,33}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{69,45}</string>
            </dict>
            <key>mummy_poison_cloud_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{69,33}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,33}}</string>
                <key>sourceSize</key>
                <string>{69,45}</string>
            </dict>
            <key>mummy_poison_cloud_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,37},{33,21}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{33,21}}</string>
                <key>sourceSize</key>
                <string>{69,45}</string>
            </dict>
            <key>mummy_poison_cloud_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,166},{45,27}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{45,27}}</string>
                <key>sourceSize</key>
                <string>{69,45}</string>
            </dict>
            <key>mummy_poison_cloud_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{61,27}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{61,27}}</string>
                <key>sourceSize</key>
                <string>{69,45}</string>
            </dict>
            <key>mummy_poison_cloud_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{67,33}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{69,45}</string>
            </dict>
            <key>mummy_poison_cloud_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,33}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,33}}</string>
                <key>sourceSize</key>
                <string>{69,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mummy.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fbcc84763adbe9b381b99566cac4450:1/1$</string>
            <key>textureFileName</key>
            <string>mummy.pvr.ccz</string>
        </dict>
    </dict>
</plist>
