<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>necronomicon_attack_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,67},{58,58}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{58,58}}</string>
                <key>sourceSize</key>
                <string>{78,96}</string>
            </dict>
            <key>necronomicon_attack_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,52},{48,66}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,1},{48,66}}</string>
                <key>sourceSize</key>
                <string>{78,96}</string>
            </dict>
            <key>necronomicon_attack_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{58,56}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{58,56}}</string>
                <key>sourceSize</key>
                <string>{78,96}</string>
            </dict>
            <key>necronomicon_attack_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{58,58}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{58,58}}</string>
                <key>sourceSize</key>
                <string>{78,96}</string>
            </dict>
            <key>necronomicon_attack_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{48,66}}</string>
                <key>offset</key>
                <string>{-15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,66}}</string>
                <key>sourceSize</key>
                <string>{78,96}</string>
            </dict>
            <key>necronomicon_attack_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{58,56}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{58,56}}</string>
                <key>sourceSize</key>
                <string>{78,96}</string>
            </dict>
            <key>necronomicon_body_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,196},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>necronomicon_body_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,196},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>necronomicon_body_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,149},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>necronomicon_body_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>necronomicon_body_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,102},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>necronomicon_body_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,183},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>necronomicon_body_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,127},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>necronomicon_body_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>necronomicon_chin_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{21,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,6}}</string>
                <key>sourceSize</key>
                <string>{21,6}</string>
            </dict>
            <key>necronomicon_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,183},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>necronomicon_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,127},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>necronomicon.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c072475b32a44b33c20ca309ca079b7:1/1$</string>
            <key>textureFileName</key>
            <string>necronomicon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
