<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nine_tailed_fox_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,190},{24,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,51}}</string>
                <key>sourceSize</key>
                <string>{24,51}</string>
            </dict>
            <key>nine_tailed_fox_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,217},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>nine_tailed_fox_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,214},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>nine_tailed_fox_arms_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,161},{27,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,51}}</string>
                <key>sourceSize</key>
                <string>{27,51}</string>
            </dict>
            <key>nine_tailed_fox_arms_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,216},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>nine_tailed_fox_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,190},{24,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,51}}</string>
                <key>sourceSize</key>
                <string>{24,51}</string>
            </dict>
            <key>nine_tailed_fox_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,117},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>nine_tailed_fox_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,205},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>nine_tailed_fox_arms_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,161},{27,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,51}}</string>
                <key>sourceSize</key>
                <string>{27,51}</string>
            </dict>
            <key>nine_tailed_fox_back_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{39,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,81}}</string>
                <key>sourceSize</key>
                <string>{39,81}</string>
            </dict>
            <key>nine_tailed_fox_back_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,103},{42,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,81}}</string>
                <key>sourceSize</key>
                <string>{42,81}</string>
            </dict>
            <key>nine_tailed_fox_back_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{42,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,81}}</string>
                <key>sourceSize</key>
                <string>{42,81}</string>
            </dict>
            <key>nine_tailed_fox_back_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,117},{39,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,81}}</string>
                <key>sourceSize</key>
                <string>{39,81}</string>
            </dict>
            <key>nine_tailed_fox_back_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,117},{42,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,81}}</string>
                <key>sourceSize</key>
                <string>{42,81}</string>
            </dict>
            <key>nine_tailed_fox_back_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,114},{42,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,81}}</string>
                <key>sourceSize</key>
                <string>{42,81}</string>
            </dict>
            <key>nine_tailed_fox_body_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,165},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>nine_tailed_fox_body_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,158},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>nine_tailed_fox_body_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,103},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>nine_tailed_fox_body_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,158},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>nine_tailed_fox_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{105,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,99}}</string>
                <key>sourceSize</key>
                <string>{105,99}</string>
            </dict>
            <key>nine_tailed_fox_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,99}}</string>
                <key>sourceSize</key>
                <string>{105,99}</string>
            </dict>
            <key>nine_tailed_fox_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>nine_tailed_fox_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,259},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>nine_tailed_fox_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,212},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>nine_tailed_fox_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>nine_tailed_fox_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,203},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>nine_tailed_fox_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,158},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>nine_tailed_fox_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>nine_tailed_fox_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,147},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>nine_tailed_fox_tail_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{54,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,93}}</string>
                <key>sourceSize</key>
                <string>{54,93}</string>
            </dict>
            <key>nine_tailed_fox_tail_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,61},{54,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,90}}</string>
                <key>sourceSize</key>
                <string>{54,90}</string>
            </dict>
            <key>nine_tailed_fox_tail_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,58},{57,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,90}}</string>
                <key>sourceSize</key>
                <string>{57,90}</string>
            </dict>
            <key>nine_tailed_fox_tail_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{54,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,93}}</string>
                <key>sourceSize</key>
                <string>{54,93}</string>
            </dict>
            <key>nine_tailed_fox_tail_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,58},{54,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,90}}</string>
                <key>sourceSize</key>
                <string>{54,90}</string>
            </dict>
            <key>nine_tailed_fox_tail_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{57,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,90}}</string>
                <key>sourceSize</key>
                <string>{57,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nine_tailed_fox.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dc9023ab2083ed791d2111b9619bca1:1/1$</string>
            <key>textureFileName</key>
            <string>nine_tailed_fox.pvr.ccz</string>
        </dict>
    </dict>
</plist>
