<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>witch_arms_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,36},{54,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,15}}</string>
                <key>sourceSize</key>
                <string>{54,15}</string>
            </dict>
            <key>witch_arms_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,19},{54,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,15}}</string>
                <key>sourceSize</key>
                <string>{54,15}</string>
            </dict>
            <key>witch_arms_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{54,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,15}}</string>
                <key>sourceSize</key>
                <string>{54,15}</string>
            </dict>
            <key>witch_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>witch_body_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,177},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>witch_body_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,177},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>witch_devil.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,115},{60,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,49}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>witch_head_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>witch_head_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>witch_head_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>witch_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,53},{60,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,49}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NPC_witch.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee31bd43a7d27a284ce1253f30a07182:1/1$</string>
            <key>textureFileName</key>
            <string>NPC_witch.pvr.ccz</string>
        </dict>
    </dict>
</plist>
