<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>princess_02_body_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,46},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>princess_02_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,119},{33,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>princess_02_body_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,84},{33,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>princess_02_body_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>princess_02_body_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,216},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>princess_02_body_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,187},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>princess_02_chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{30,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,12}}</string>
                <key>sourceSize</key>
                <string>{30,12}</string>
            </dict>
            <key>princess_02_head_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>princess_02_head_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,143},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>princess_02_head_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>princess_02_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,96},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>princess_02_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>princess_02_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,49},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>princess_02_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>princess_02_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>princess_02_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>princess_02_left_arms_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,171},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>princess_02_right_arms_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,154},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NPC_princess_02.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a8b153424fe2dc8fc8c45d5f42e5ac1:1/1$</string>
            <key>textureFileName</key>
            <string>NPC_princess_02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
