<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairies_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,263},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>fairies_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>fairies_wing_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,204},{27,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,6}}</string>
                <key>sourceSize</key>
                <string>{27,6}</string>
            </dict>
            <key>fairies_wing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,99},{27,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,3}}</string>
                <key>sourceSize</key>
                <string>{27,3}</string>
            </dict>
            <key>fairies_wing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,61},{27,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,6}}</string>
                <key>sourceSize</key>
                <string>{27,6}</string>
            </dict>
            <key>warriors_fairies_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,187},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>warriors_fairies_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,200},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>warriors_fairies_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,183},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>warriors_fairies_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,61},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>warriors_fairies_body_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,241},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>warriors_fairies_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,217},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>warriors_fairies_body_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,212},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>warriors_fairies_body_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,257},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>warriors_fairies_damage_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{57,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,72}}</string>
                <key>sourceSize</key>
                <string>{57,72}</string>
            </dict>
            <key>warriors_fairies_damage_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{51,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,77}}</string>
                <key>sourceSize</key>
                <string>{51,77}</string>
            </dict>
            <key>warriors_fairies_damage_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,77}}</string>
                <key>sourceSize</key>
                <string>{51,77}</string>
            </dict>
            <key>warriors_fairies_head_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,190},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>warriors_fairies_head_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,184},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>warriors_fairies_head_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,99},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>warriors_fairies_head_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,93},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>warriors_fairies_head_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,92},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>warriors_fairies_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>warriors_fairies_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,146},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>warriors_fairies_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>warriors_fairies_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,143},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>warriors_fairies_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,139},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>warriors_fairies_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,140},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>warriors_fairies_mantle_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,99},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>warriors_fairies_mantle_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,55},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>warriors_fairies_mantle_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>warriors_fairies_mantle_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,183},{39,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{39,27}</string>
            </dict>
            <key>warriors_fairies_mantle_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,61},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>warriors_fairies_mantle_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,55},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>weapon_slayer_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,198},{9,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,35}}</string>
                <key>sourceSize</key>
                <string>{9,35}</string>
            </dict>
            <key>weapon_slayer_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,187},{9,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,35}}</string>
                <key>sourceSize</key>
                <string>{9,35}</string>
            </dict>
            <key>weapon_slayer_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>weapon_slayer_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,47},{43,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,18}}</string>
                <key>sourceSize</key>
                <string>{43,18}</string>
            </dict>
            <key>weapon_slayer_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,231},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>weapon_slayer_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,225},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>weapon_slayer_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{43,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,18}}</string>
                <key>sourceSize</key>
                <string>{43,18}</string>
            </dict>
            <key>weapon_slayer_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,209},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NPC_warriors_fairies.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99f8dbd7be3ca687a467e2fa6503536c:1/1$</string>
            <key>textureFileName</key>
            <string>NPC_warriors_fairies.pvr.ccz</string>
        </dict>
    </dict>
</plist>
