<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nyarlathotep_chest_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,37},{57,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,33}}</string>
                <key>sourceSize</key>
                <string>{57,33}</string>
            </dict>
            <key>nyarlathotep_chest_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{57,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,33}}</string>
                <key>sourceSize</key>
                <string>{57,33}</string>
            </dict>
            <key>nyarlathotep_damaget_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>nyarlathotep_damaget_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>nyarlathotep_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,530},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>nyarlathotep_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,299},{126,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,78}}</string>
                <key>sourceSize</key>
                <string>{126,78}</string>
            </dict>
            <key>nyarlathotep_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,248},{129,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,78}}</string>
                <key>sourceSize</key>
                <string>{129,78}</string>
            </dict>
            <key>nyarlathotep_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{117,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,87}}</string>
                <key>sourceSize</key>
                <string>{117,87}</string>
            </dict>
            <key>nyarlathotep_head_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{117,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,96}}</string>
                <key>sourceSize</key>
                <string>{117,96}</string>
            </dict>
            <key>nyarlathotep_head_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,438},{117,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,90}}</string>
                <key>sourceSize</key>
                <string>{117,90}</string>
            </dict>
            <key>nyarlathotep_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,473},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>nyarlathotep_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{126,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,78}}</string>
                <key>sourceSize</key>
                <string>{126,78}</string>
            </dict>
            <key>nyarlathotep_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,219},{129,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,78}}</string>
                <key>sourceSize</key>
                <string>{129,78}</string>
            </dict>
            <key>nyarlathotep_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,471},{117,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,87}}</string>
                <key>sourceSize</key>
                <string>{117,87}</string>
            </dict>
            <key>nyarlathotep_head_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,188},{117,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,96}}</string>
                <key>sourceSize</key>
                <string>{117,96}</string>
            </dict>
            <key>nyarlathotep_head_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,379},{117,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,90}}</string>
                <key>sourceSize</key>
                <string>{117,90}</string>
            </dict>
            <key>nyarlathotep_lower_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,307},{114,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,54}}</string>
                <key>sourceSize</key>
                <string>{114,54}</string>
            </dict>
            <key>nyarlathotep_lower_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{129,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,78}}</string>
                <key>sourceSize</key>
                <string>{129,78}</string>
            </dict>
            <key>nyarlathotep_lower_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,142},{135,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,75}}</string>
                <key>sourceSize</key>
                <string>{135,75}</string>
            </dict>
            <key>nyarlathotep_lower_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,85},{144,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,81}}</string>
                <key>sourceSize</key>
                <string>{144,81}</string>
            </dict>
            <key>nyarlathotep_lower_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,72},{114,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,54}}</string>
                <key>sourceSize</key>
                <string>{114,54}</string>
            </dict>
            <key>nyarlathotep_lower_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,168},{129,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,78}}</string>
                <key>sourceSize</key>
                <string>{129,78}</string>
            </dict>
            <key>nyarlathotep_lower_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{135,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,75}}</string>
                <key>sourceSize</key>
                <string>{135,75}</string>
            </dict>
            <key>nyarlathotep_lower_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{144,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,81}}</string>
                <key>sourceSize</key>
                <string>{144,81}</string>
            </dict>
            <key>nyarlathotep_tentacle_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,556},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>nyarlathotep_tentacle_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,603},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>nyarlathotep_tentacle_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,363},{123,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,108}}</string>
                <key>sourceSize</key>
                <string>{123,108}</string>
            </dict>
            <key>nyarlathotep_tentacle_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>nyarlathotep_tentacle_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,556},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>nyarlathotep_tentacle_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,603},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>nyarlathotep_tentacle_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,328},{123,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,108}}</string>
                <key>sourceSize</key>
                <string>{123,108}</string>
            </dict>
            <key>nyarlathotep_tentacle_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,560},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nyarlathotep.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d60168ffbf7907eeaf7b559454d41460:1/1$</string>
            <key>textureFileName</key>
            <string>nyarlathotep.pvr.ccz</string>
        </dict>
    </dict>
</plist>
