<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Balloon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{367,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,281}}</string>
                <key>sourceSize</key>
                <string>{367,281}</string>
            </dict>
            <key>Balloon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,479},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>Balloon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,462},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>Exclamation_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,485},{20,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,50}}</string>
                <key>sourceSize</key>
                <string>{20,50}</string>
            </dict>
            <key>One_eyed-monster_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,205},{113,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,126}}</string>
                <key>sourceSize</key>
                <string>{113,126}</string>
            </dict>
            <key>One_eyed-monster_00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,90},{113,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,129}}</string>
                <key>sourceSize</key>
                <string>{113,129}</string>
            </dict>
            <key>One_eyed-monster_00_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,320},{114,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,119}}</string>
                <key>sourceSize</key>
                <string>{114,119}</string>
            </dict>
            <key>One_eyed-monster_00_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,338},{113,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,118}}</string>
                <key>sourceSize</key>
                <string>{113,118}</string>
            </dict>
            <key>One_eyed-monster_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,387},{67,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>One_eyed-monster_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,338},{67,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>One_eyed-monster_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,55},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>One_eyed-monster_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{176,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,115}}</string>
                <key>sourceSize</key>
                <string>{176,115}</string>
            </dict>
            <key>One_eyed-monster_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,55},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>heart_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,55},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>heart_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,55},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>heart_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>npc_man_body_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,372},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>npc_man_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,346},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>npc_man_body_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,320},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>npc_man_head_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,545},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>npc_man_head_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,534},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>npc_man_head_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,501},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>npc_man_head_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,507},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>npc_man_head_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,501},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>npc_man_head_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,40},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>npc_man_left_arm_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,515},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>npc_man_right_arm_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,501},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>npc_women_body_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,478},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>npc_women_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,455},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>npc_women_body_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,432},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>npc_women_chest_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,436},{24,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,12}}</string>
                <key>sourceSize</key>
                <string>{24,12}</string>
            </dict>
            <key>npc_women_head_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,485},{47,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{47,54}</string>
            </dict>
            <key>npc_women_head_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,436},{47,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{47,54}</string>
            </dict>
            <key>npc_women_head_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,436},{47,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{47,54}</string>
            </dict>
            <key>npc_women_head_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,453},{47,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{47,54}</string>
            </dict>
            <key>npc_women_head_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,453},{47,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{47,54}</string>
            </dict>
            <key>npc_women_left_arm_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,415},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>npc_women_right_arm_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,398},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>speech_bubble_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{467,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,51}}</string>
                <key>sourceSize</key>
                <string>{467,51}</string>
            </dict>
            <key>torch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,143},{5,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,10}}</string>
                <key>sourceSize</key>
                <string>{5,10}</string>
            </dict>
            <key>torch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,127},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>torch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,55},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>torch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,239},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>torch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,109},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>torch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,90},{8,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,17}}</string>
                <key>sourceSize</key>
                <string>{8,17}</string>
            </dict>
            <key>torch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,205},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>torch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,223},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>torch_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,436},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prologue_HD.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:032711abf43ba063b83e03bb712a4f9c:1/1$</string>
            <key>textureFileName</key>
            <string>prologue_HD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
