<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>selene_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,698},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>selene_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,986},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>selene_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,462},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>selene_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,698},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>selene_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,986},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>selene_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,462},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>selene_chest_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,698},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>selene_chest_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,698},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>selene_cloud_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{84,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,30}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>selene_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,698},{66,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,21}}</string>
                <key>sourceSize</key>
                <string>{66,21}</string>
            </dict>
            <key>selene_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,268},{150,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,192}}</string>
                <key>sourceSize</key>
                <string>{150,192}</string>
            </dict>
            <key>selene_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,721},{150,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,192}}</string>
                <key>sourceSize</key>
                <string>{150,192}</string>
            </dict>
            <key>selene_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,407},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>selene_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,728},{192,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,180}}</string>
                <key>sourceSize</key>
                <string>{192,180}</string>
            </dict>
            <key>selene_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{138,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,174}}</string>
                <key>sourceSize</key>
                <string>{138,174}</string>
            </dict>
            <key>selene_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,504},{174,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,192}}</string>
                <key>sourceSize</key>
                <string>{174,192}</string>
            </dict>
            <key>selene_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{186,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,207}}</string>
                <key>sourceSize</key>
                <string>{186,207}</string>
            </dict>
            <key>selene_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{195,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,222}}</string>
                <key>sourceSize</key>
                <string>{195,222}</string>
            </dict>
            <key>selene_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{213,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,234}}</string>
                <key>sourceSize</key>
                <string>{213,234}</string>
            </dict>
            <key>selene_effect_sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,264}}</string>
                <key>sourceSize</key>
                <string>{260,264}</string>
            </dict>
            <key>selene_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,407},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>selene_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,407},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>selene_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,160},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>selene_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,160},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>selene_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,178},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>selene_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,178},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>selene_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,178},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>selene_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,915},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>selene_lowert_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,915},{114,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,78}}</string>
                <key>sourceSize</key>
                <string>{114,78}</string>
            </dict>
            <key>selene_lowert_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,922},{114,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,78}}</string>
                <key>sourceSize</key>
                <string>{114,78}</string>
            </dict>
            <key>selene_lowert_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,937},{114,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,78}}</string>
                <key>sourceSize</key>
                <string>{114,78}</string>
            </dict>
            <key>selene_lowert_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,937},{114,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,78}}</string>
                <key>sourceSize</key>
                <string>{114,78}</string>
            </dict>
            <key>selene_moon_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{150,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,156}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>selene_moon_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,249},{150,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,156}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>selene_sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,478},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selene.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07b8d1452665d08453347cd6fb2689ea:1/1$</string>
            <key>textureFileName</key>
            <string>selene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
