<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swedishvamp_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,365},{27,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,69}}</string>
                <key>sourceSize</key>
                <string>{27,69}</string>
            </dict>
            <key>swedishvamp_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,70},{27,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,66}}</string>
                <key>sourceSize</key>
                <string>{27,66}</string>
            </dict>
            <key>swedishvamp_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>swedishvamp_arms_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{36,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,66}}</string>
                <key>sourceSize</key>
                <string>{36,66}</string>
            </dict>
            <key>swedishvamp_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,365},{27,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,69}}</string>
                <key>sourceSize</key>
                <string>{27,69}</string>
            </dict>
            <key>swedishvamp_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,436},{27,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,66}}</string>
                <key>sourceSize</key>
                <string>{27,66}</string>
            </dict>
            <key>swedishvamp_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,466},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>swedishvamp_arms_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,472},{36,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,66}}</string>
                <key>sourceSize</key>
                <string>{36,66}</string>
            </dict>
            <key>swedishvamp_body_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,224},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>swedishvamp_body_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,150},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>swedishvamp_body_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,238},{54,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>swedishvamp_body_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,76},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>swedishvamp_body_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>swedishvamp_body_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,446},{54,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>swedishvamp_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{99,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,150}}</string>
                <key>sourceSize</key>
                <string>{99,150}</string>
            </dict>
            <key>swedishvamp_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,150}}</string>
                <key>sourceSize</key>
                <string>{99,150}</string>
            </dict>
            <key>swedishvamp_effect_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{54,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,96}}</string>
                <key>sourceSize</key>
                <string>{54,96}</string>
            </dict>
            <key>swedishvamp_effect_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,389},{33,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,81}}</string>
                <key>sourceSize</key>
                <string>{33,81}</string>
            </dict>
            <key>swedishvamp_effect_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{54,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,96}}</string>
                <key>sourceSize</key>
                <string>{54,96}</string>
            </dict>
            <key>swedishvamp_effect_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,306},{33,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,81}}</string>
                <key>sourceSize</key>
                <string>{33,81}</string>
            </dict>
            <key>swedishvamp_foot_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,138},{42,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,27}}</string>
                <key>sourceSize</key>
                <string>{42,27}</string>
            </dict>
            <key>swedishvamp_foot_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,31},{42,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,27}}</string>
                <key>sourceSize</key>
                <string>{42,27}</string>
            </dict>
            <key>swedishvamp_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,294},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>swedishvamp_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>swedishvamp_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>swedishvamp_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,386},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>swedishvamp_head_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,167},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>swedishvamp_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,96},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>swedishvamp_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,372},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>swedishvamp_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,298},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>swedishvamp_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,306},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>swedishvamp_head_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>swedishvamp_leg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{42,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,27}}</string>
                <key>sourceSize</key>
                <string>{42,27}</string>
            </dict>
            <key>swedishvamp_leg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,67},{42,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,27}}</string>
                <key>sourceSize</key>
                <string>{42,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>swedishvamp.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a464776e54dd4417d3a00097df14c15a:1/1$</string>
            <key>textureFileName</key>
            <string>swedishvamp.pvr.ccz</string>
        </dict>
    </dict>
</plist>
