<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tree_giant_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,227},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>tree_giant_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,168},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>tree_giant_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{123,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,132}}</string>
                <key>sourceSize</key>
                <string>{123,132}</string>
            </dict>
            <key>tree_giant_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,132}}</string>
                <key>sourceSize</key>
                <string>{123,132}</string>
            </dict>
            <key>tree_giant_eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,85},{30,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,9}}</string>
                <key>sourceSize</key>
                <string>{30,9}</string>
            </dict>
            <key>tree_giant_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{126,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,81}}</string>
                <key>sourceSize</key>
                <string>{126,81}</string>
            </dict>
            <key>tree_giant_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{126,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,105}}</string>
                <key>sourceSize</key>
                <string>{126,105}</string>
            </dict>
            <key>tree_giant_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{123,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,102}}</string>
                <key>sourceSize</key>
                <string>{123,102}</string>
            </dict>
            <key>tree_giant_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,270},{126,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,81}}</string>
                <key>sourceSize</key>
                <string>{126,81}</string>
            </dict>
            <key>tree_giant_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{126,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,105}}</string>
                <key>sourceSize</key>
                <string>{126,105}</string>
            </dict>
            <key>tree_giant_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,398},{123,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,102}}</string>
                <key>sourceSize</key>
                <string>{123,102}</string>
            </dict>
            <key>tree_giant_posion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,168},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>tree_giant_posion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,85},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>tree_giant_posion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,85},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>tree_giant_posion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,85},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>tree_giant_posion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>tree_giant_posion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tree_giant.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a913fde4c050abcef323a58d8c7c664:1/1$</string>
            <key>textureFileName</key>
            <string>tree_giant.pvr.ccz</string>
        </dict>
    </dict>
</plist>
