<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>undine_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,40},{12,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,36}}</string>
                <key>sourceSize</key>
                <string>{12,36}</string>
            </dict>
            <key>undine_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,150},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>undine_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{12,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,36}}</string>
                <key>sourceSize</key>
                <string>{12,36}</string>
            </dict>
            <key>undine_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,118},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>undine_body_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,226},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>undine_body_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,197},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>undine_chest_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,165},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>undine_chest_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,182},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>undine_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{114,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,117}}</string>
                <key>sourceSize</key>
                <string>{114,117}</string>
            </dict>
            <key>undine_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,117}}</string>
                <key>sourceSize</key>
                <string>{114,117}</string>
            </dict>
            <key>undine_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,293},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>undine_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,247},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>undine_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>undine_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>undine_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,229},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>undine_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,183},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>undine_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,118},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>undine_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,165},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>undine_lower_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,118},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>undine_lower_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>undine_trident_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>undine_trident_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>undine.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:754a7c2f7fe44cd7efdfa0aa538da133:1/1$</string>
            <key>textureFileName</key>
            <string>undine.pvr.ccz</string>
        </dict>
    </dict>
</plist>
