<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viking_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>viking_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,235},{18,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{18,9}</string>
            </dict>
            <key>viking_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,88},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>viking_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,71},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>viking_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,235},{18,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{18,9}</string>
            </dict>
            <key>viking_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,54},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>viking_axe_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,214},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>viking_axe_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,208},{39,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{39,27}</string>
            </dict>
            <key>viking_axe_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,208},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>viking_axe_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,176},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>viking_axe_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,151},{39,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{39,27}</string>
            </dict>
            <key>viking_axe_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,208},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>viking_body_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,207},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>viking_body_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,192},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>viking_body_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,184},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>viking_body_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{57,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,27}}</string>
                <key>sourceSize</key>
                <string>{57,27}</string>
            </dict>
            <key>viking_body_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,184},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>viking_body_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,214},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>viking_body_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,184},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>viking_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>viking_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{81,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,69}}</string>
                <key>sourceSize</key>
                <string>{81,69}</string>
            </dict>
            <key>viking_head_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,73},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>viking_head_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>viking_head_front_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>viking_head_front_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,49},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>viking_head_front_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>viking_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,140},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>viking_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,164},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>viking_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,132},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>viking_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,120},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>viking_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,96},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>viking_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,73},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>viking_shield_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,128},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>viking_shield_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,105},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>viking_shield_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,28},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>viking_shield_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>viking.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff2a389562965906b4a8c25c6f02ac0f:1/1$</string>
            <key>textureFileName</key>
            <string>viking.pvr.ccz</string>
        </dict>
    </dict>
</plist>
