<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>witch_green_arms_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,236},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>witch_green_arms_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,25},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>witch_green_arms_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,236},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>witch_green_arms_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,236},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>witch_green_arms_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>witch_green_arms_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>witch_green_broomstick_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,128},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>witch_green_broomstick_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,222},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>witch_green_broomstick_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,128},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>witch_green_broomstick_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,34},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>witch_green_broomstick_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,222},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>witch_green_broomstick_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>witch_green_chest_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,236},{27,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,12}}</string>
                <key>sourceSize</key>
                <string>{27,12}</string>
            </dict>
            <key>witch_green_chest_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,236},{27,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,12}}</string>
                <key>sourceSize</key>
                <string>{27,12}</string>
            </dict>
            <key>witch_green_damage_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>witch_green_damage_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>witch_green_head_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,158},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>witch_green_head_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,160},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>witch_green_head_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>witch_green_head_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,66},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>witch_green_head_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>witch_green_head_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>witch_green_head_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,174},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>witch_green_head_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>witch_green_leg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,126},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>witch_green_leg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,126},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>witch_green.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da067f0b5de854709b6013fa23044b5b:1/1$</string>
            <key>textureFileName</key>
            <string>witch_green.pvr.ccz</string>
        </dict>
    </dict>
</plist>
